.backdrop-blur-0 {
  backdrop-filter: blur();
}

.backdrop-blur-100 {
  backdrop-filter: blur(100px);
}

.backdrop-blur-50 {
  backdrop-filter: blur(50px);
}

.backdrop-blur-8 {
  backdrop-filter: blur(8px);
}

.backdrop-brightness-0 {
  backdrop-filter: brightness(0%);
}

.backdrop-brightness-100 {
  backdrop-filter: brightness();
}

.backdrop-brightness-50 {
  backdrop-filter: brightness(50%);
}

.backdrop-brightness-\[\] {
  backdrop-filter: brightness();
}

.backdrop-contrast-0 {
  backdrop-filter: contrast(0%);
}

.backdrop-contrast-100 {
  backdrop-filter: contrast();
}

.backdrop-contrast-50 {
  backdrop-filter: contrast(50%);
}

.backdrop-contrast-\[\] {
  backdrop-filter: contrast();
}

.backdrop-grayscale-0 {
  backdrop-filter: hue-rotate(0%);
}

.backdrop-grayscale-100 {
  backdrop-filter: hue-rotate(100%);
}

.backdrop-grayscale-50 {
  backdrop-filter: hue-rotate(50%);
}

.backdrop-hue-rotate-0 {
  backdrop-filter: hue-rotate();
}

.backdrop-hue-rotate-100 {
  backdrop-filter: hue-rotate(100deg);
}

.backdrop-hue-rotate-50 {
  backdrop-filter: hue-rotate(50deg);
}

.backdrop-hue-rotate-\[\] {
  backdrop-filter: hue-rotate();
}

.backdrop-invert-0 {
  backdrop-filter: invert(0%);
}

.backdrop-invert-100 {
  backdrop-filter: invert();
}

.backdrop-invert-50 {
  backdrop-filter: invert(50%);
}

.backdrop-opacity-0 {
  backdrop-filter: opacity(0%);
}

.backdrop-opacity-100 {
  backdrop-filter: opacity();
}

.backdrop-opacity-50 {
  backdrop-filter: opacity(50%);
}

.backdrop-opacity-\[\] {
  backdrop-filter: opacity();
}

.backdrop-saturate-0 {
  backdrop-filter: saturate(0%);
}

.backdrop-saturate-100 {
  backdrop-filter: saturate();
}

.backdrop-saturate-50 {
  backdrop-filter: saturate(50%);
}

.backdrop-saturate-\[\] {
  backdrop-filter: saturate();
}

.backdrop-sepia-0 {
  backdrop-filter: sepia(0%);
}

.backdrop-sepia-100 {
  backdrop-filter: sepia();
}

.backdrop-sepia-50 {
  backdrop-filter: sepia(50%);
}

.blur-0 {
  filter: blur();
}

.blur-4 {
  filter: blur(4px);
}

.blur-8 {
  filter: blur(8px);
}

.brightness-\[\] {
  filter: brightness();
}

.contrast-\[\] {
  filter: contrast();
}

.grayscale-100 {
  filter: hue-rotate(100%);
}

.hue-rotate-\[\] {
  filter: hue-rotate();
}

.invert-100 {
  filter: invert();
}

.opacity-\[\] {
  opacity: ;
}

.saturate-\[\] {
  filter: saturate();
}

.sepia-100 {
  filter: sepia();
}
