[data-tw-oIGU67cMN_A] {
  align-content: start;
}

[data-tw-rsnfswdfsqg] {
  align-self: start;
}

[data-tw-lIihut8fYNA] {
  column-gap: 0;
}

[data-tw-dWSf7XHoK9Y] {
  flex: auto;
}

[data-tw-HsOkmYHBbQc] {
  flex: initial;
}

[data-tw-yfQqawNt31o] {
  flex: none;
}

[data-tw-ft-HlYTpoQQ] {
  flex-basis: 0%;
}

[data-tw--M1BJO6NSSk] {
  flex-basis: .625rem;
}

[data-tw-N9sZ_ubRSg4] {
  flex-basis: 0;
}

[data-tw-m2renIy9nww] {
  flex-basis: 100%;
}

[data-tw-IYA_VxwJ148] {
  flex-basis: 1px;
}

[data-tw-i_sQQAm_gvU] {
  flex-basis: 50%;
}

[data-tw-sPBlZrfiv6k] {
  flex-basis: auto;
}

[data-tw-p27KNj7yKEU] {
  flex-basis: calc(20%-30px);
}

[data-tw-WpcS8toUfDY] {
  flex-basis: fit-content;
}

[data-tw-Vi2mI6gvZ8Q] {
  flex-basis: max-content;
}

[data-tw-fB9TpAT9fLk] {
  flex-basis: min-content;
}

[data-tw-_DMzOcXo4Js] {
  flex-direction: column;
}

[data-tw-Sxk-QwlC0H8] {
  flex-direction: column-reverse;
}

[data-tw-NBAso5fhcOQ] {
  flex-direction: row;
}

[data-tw-HQJuW58iPKg] {
  flex-direction: row-reverse;
}

[data-tw-DO89bjedpe0] {
  flex-grow: 0;
}

[data-tw-Or3cWmy6U20] {
  flex-grow: 1;
}

[data-tw-kXYTfi3KSIo] {
  flex-grow: 2;
}

[data-tw-uz_juDLBRVM] {
  flex-shrink: 0;
}

[data-tw-K2eHIQqqymY] {
  flex-shrink: 1;
}

[data-tw-4fbVT412M2M] {
  flex-shrink: 2;
}

[data-tw-8OiLu0TD4Qw] {
  flex-wrap: nowrap;
}

[data-tw-_VldBdwp1Zs] {
  flex-wrap: wrap;
}

[data-tw-B8v6eog_5kM] {
  flex-wrap: wrap-reverse;
}

[data-tw-fyS1XLvPHsM] {
  gap: 0;
}

[data-tw-G7WvjOxzXdA] {
  grid-auto-columns: auto;
}

[data-tw-HYdq7-_C-tU] {
  grid-auto-columns: max-content;
}

[data-tw-8YjKI5_Vx7Y] {
  grid-auto-columns: min-content;
}

[data-tw-5wYpamOOaco] {
  grid-auto-columns: minmax(0, 1fr);
}

[data-tw-FePgRVS7_FQ] {
  grid-auto-flow: column;
}

[data-tw-0q4hpb-FjbI] {
  grid-auto-flow: column dense;
}

[data-tw-lIigrdA0EKo] {
  grid-auto-flow: row;
}

[data-tw-owg98YQn8e4] {
  grid-auto-flow: row dense;
}

[data-tw-B3qDeI_HqSM] {
  grid-auto-rows: auto;
}

[data-tw-Qce4ChHVF40] {
  grid-auto-rows: max-content;
}

[data-tw-5pfgUsK_7F0] {
  grid-auto-rows: min-content;
}

[data-tw-Q9bZ0JT_8RM] {
  grid-auto-rows: minmax(0, 1fr);
}

[data-tw-CBG8G_pNl0k] {
  grid-column: auto;
}

[data-tw-zGnWuEMfOQI] {
  grid-row: auto;
}

[data-tw-2tlDvVxVWzI] {
  grid-template-columns: none;
}

[data-tw-GYiCegzTcN0] {
  grid-template-columns: repeat(0, minmax(0, 1fr));
}

[data-tw-OQdaU1rY-88] {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

[data-tw-ahqqsnSkjVI] {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

[data-tw-PRPJm5jmWGA] {
  justify-content: start;
}

[data-tw-4eKKoid4wEQ] {
  justify-items: start;
}

[data-tw-Luf0XKdGkWg] {
  justify-self: start;
}

[data-tw-Ycsc8MYOCfA] {
  order: -9999;
}

[data-tw-2ACeyWU0qIA] {
  order: 0;
}

[data-tw-okZqmK6c6e8] {
  order: 1;
}

[data-tw-vU0ufTI5ufM] {
  order: 9999;
}

[data-tw-kwMOrkV6pzo] {
  place-content: start;
}

[data-tw-ALdfYG3CTjY] {
  place-items: start;
}

[data-tw-r59qDS8mUag] {
  place-self: start;
}

[data-tw-ZEsjCH31Vrw] {
  row-gap: 0;
}
