._oIGU67cMN_A {
  align-content: start;
}

._rsnfswdfsqg {
  align-self: start;
}

._lIihut8fYNA {
  column-gap: 0;
}

._dWSf7XHoK9Y {
  flex: auto;
}

._HsOkmYHBbQc {
  flex: initial;
}

._yfQqawNt31o {
  flex: none;
}

._ft-HlYTpoQQ {
  flex-basis: 0%;
}

._Np6O5c0lfCg {
  flex-basis: .5rem;
}

._N9sZ_ubRSg4 {
  flex-basis: 0;
}

._m2renIy9nww {
  flex-basis: 100%;
}

._i_sQQAm_gvU {
  flex-basis: 50%;
}

._sPBlZrfiv6k {
  flex-basis: auto;
}

.__DMzOcXo4Js {
  flex-direction: column;
}

._Sxk-QwlC0H8 {
  flex-direction: column-reverse;
}

._NBAso5fhcOQ {
  flex-direction: row;
}

._HQJuW58iPKg {
  flex-direction: row-reverse;
}

._DO89bjedpe0 {
  flex-grow: 0;
}

._Or3cWmy6U20 {
  flex-grow: 1;
}

._kXYTfi3KSIo {
  flex-grow: 2;
}

._uz_juDLBRVM {
  flex-shrink: 0;
}

._K2eHIQqqymY {
  flex-shrink: 1;
}

._4fbVT412M2M {
  flex-shrink: 2;
}

._8OiLu0TD4Qw {
  flex-wrap: nowrap;
}

.__VldBdwp1Zs {
  flex-wrap: wrap;
}

._B8v6eog_5kM {
  flex-wrap: wrap-reverse;
}

._fyS1XLvPHsM {
  gap: 0;
}

._G7WvjOxzXdA {
  grid-auto-columns: auto;
}

._HYdq7-_C-tU {
  grid-auto-columns: max-content;
}

._8YjKI5_Vx7Y {
  grid-auto-columns: min-content;
}

._5wYpamOOaco {
  grid-auto-columns: minmax(0, 1fr);
}

._FePgRVS7_FQ {
  grid-auto-flow: column;
}

._0q4hpb-FjbI {
  grid-auto-flow: column dense;
}

._lIigrdA0EKo {
  grid-auto-flow: row;
}

._owg98YQn8e4 {
  grid-auto-flow: row dense;
}

._B3qDeI_HqSM {
  grid-auto-rows: auto;
}

._Qce4ChHVF40 {
  grid-auto-rows: max-content;
}

._5pfgUsK_7F0 {
  grid-auto-rows: min-content;
}

._Q9bZ0JT_8RM {
  grid-auto-rows: minmax(0, 1fr);
}

._CBG8G_pNl0k {
  grid-column: auto;
}

._zGnWuEMfOQI {
  grid-row: auto;
}

._2tlDvVxVWzI {
  grid-template-columns: none;
}

._GYiCegzTcN0 {
  grid-template-columns: repeat(0, minmax(0, 1fr));
}

._OQdaU1rY-88 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

._ahqqsnSkjVI {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

._PRPJm5jmWGA {
  justify-content: start;
}

._4eKKoid4wEQ {
  justify-items: start;
}

._Luf0XKdGkWg {
  justify-self: start;
}

._Ycsc8MYOCfA {
  order: -9999;
}

._2ACeyWU0qIA {
  order: 0;
}

._okZqmK6c6e8 {
  order: 1;
}

._vU0ufTI5ufM {
  order: 9999;
}

._kwMOrkV6pzo {
  place-content: start;
}

._ALdfYG3CTjY {
  place-items: start;
}

._r59qDS8mUag {
  place-self: start;
}

._ZEsjCH31Vrw {
  row-gap: 0;
}
