.-scale-100 {
  transform: scale(-1);
}

.-scale-50 {
  transform: scale(-.5);
}

.-translate-1 {
  transform: translate(-.25rem);
}

.origin-5 {
  transform-origin: 50%;
}

.rotate-0 {
  transform: rotate(-0deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-\[3\.14rad\] {
  transform: rotate(179.909deg);
}

.rotate-\[3turn\] {
  transform: rotate(3turn);
}

.rotate-\[45deg\] {
  transform: rotate(45deg);
}

.scale-0 {
  transform: scale(0);
}

.scale-100 {
  transform: scale(1);
}

.scale-50 {
  transform: scale(.5);
}

.scale-x-0 {
  transform: scaleX(0);
}

.scale-y-0 {
  transform: scaleY(0);
}

.skew-x-0 {
  transform: skewX(0deg);
}

.skew-y-0 {
  transform: skewY(0deg);
}

.translate-0 {
  transform: translate(0);
}

.translate-0\.5 {
  transform: translate(.125rem);
}

.translate-0\/1 {
  transform: translate(0%);
}

.translate-0px {
  transform: translate(0);
}

.translate-1\/1 {
  transform: translate(100%);
}

.translate-1\/2 {
  transform: translate(50%);
}

.translate-1px, .translate-\[1px\] {
  transform: translate(1px);
}

.translate-x-1px {
  transform: translateX(1px);
}

.translate-y-1px {
  transform: translateY(1px);
}
