.-rotate-0 {
  transform: rotate(0deg);
}

.-scale-100 {
  transform: scale(-1);
}

.-scale-50 {
  transform: scale(-.5);
}

.origin-5 {
  transform-origin: 50%;
}

.rotate-0 {
  transform: rotate(0deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.scale-0 {
  transform: scale(0);
}

.scale-100 {
  transform: scale(1);
}

.scale-50 {
  transform: scale(.5);
}

.scale-x-0 {
  transform: scaleX(0);
}

.scale-y-0 {
  transform: scaleY(0);
}

.skew-x-0 {
  transform: skewX(0deg);
}

.skew-y-0 {
  transform: skewY(0deg);
}

.translate-x-0 {
  transform: translateX(0);
}

.translate-x-1 {
  transform: translateX(1rem);
}

.translate-x-2 {
  transform: translateX(2rem);
}
