
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/d/d5/Tailwind_CSS_Logo.svg"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>Layout tests</title>
</head>
<body>
<!-- https://tailwindcss.com/docs/aspect-ratio -->
<div class="aspect-1/1"></div>
<div class="aspect-16/9"></div>
<div class="aspect-1/1"></div>
<div class="aspect-16/9"></div>
<div class="aspect-21/9"></div>
<div class="aspect-auto"></div>
<div class="aspect-unset"></div>
<div class="aspect-[unset]"></div>
<div class="aspect-[16/9]"></div>
<!-- https://tailwindcss.com/docs/container -->
<div class="container"></div>
<!-- https://tailwindcss.com/docs/columns -->
<div class="columns-1"></div>
<div class="columns-auto"></div>
<div class="columns-[20rem]"></div>
<div class="columns-[320px]"></div>
<div class="columns-[auto_1]"></div>
<!-- https://tailwindcss.com/docs/break-before -->
<div class="break-before-auto"></div>
<div class="break-before-unset"></div>
<div class="break-before-[unset]"></div>
<!-- https://tailwindcss.com/docs/break-inside -->
<div class="break-inside-auto"></div>
<div class="break-inside-unset"></div>
<div class="break-inside-[unset]"></div>
<!-- https://tailwindcss.com/docs/break-after -->
<div class="break-after-auto"></div>
<div class="break-after-unset"></div>
<div class="break-after-[unset]"></div>
<!-- https://tailwindcss.com/docs/box-decoration-break -->
<div class="box-clone"></div>
<div class="box-slice"></div>
<div class="box-clone"></div>
<div class="box-slice"></div>
<div class="box-break-unset"></div>
<div class="box-break-[unset]"></div>
<!-- https://tailwindcss.com/docs/box-sizing -->
<div class="box-border"></div>
<div class="box-content"></div>
<div class="box-border"></div>
<div class="box-content"></div>
<div class="box-sizing-unset"></div>
<div class="box-sizing-[unset]"></div>
<!-- https://tailwindcss.com/docs/display -->
<div class="display-block"></div>
<div class="display-inline-block"></div>
<div class="display-inline"></div>
<div class="display-flex"></div>
<div class="display-contents"></div>
<div class="display-hidden"></div>
<div class="display-hidden"></div>
<div class="display-none"></div>
<div class="display-unset"></div>
<div class="display-[unset]"></div>
<!-- https://tailwindcss.com/docs/float -->
<div class="float-none"></div>
<div class="float-left"></div>
<div class="float-right"></div>
<div class="float-unset"></div>
<div class="float-[unset]"></div>
<!-- https://tailwindcss.com/docs/clear -->
<div class="float-none"></div>
<div class="float-left"></div>
<div class="float-right"></div>
<div class="float-both"></div>
<div class="float-unset"></div>
<div class="float-[unset]"></div>
<!-- https://tailwindcss.com/docs/isolation -->
<div class="isolate"></div>
<div class="isolation-"></div>
<div class="isolate"></div>
<div class="isolation-"></div>
<div class="isolation-[unset]"></div>
<!-- https://tailwindcss.com/docs/object-fit -->
<div class="object-fill"></div>
<div class="object-contain"></div>
<div class="object-cover"></div>
<div class="object-scale-down"></div>
<div class="object-none"></div>
<div class="object-none"></div>
<div class="object-unset"></div>
<div class="object-[unset]"></div>
<div class="object-unset"></div>
<div class="object-[unset]"></div>
<!-- https://tailwindcss.com/docs/object-position -->
<div class="object-7"></div>
<div class="object-8"></div>
<div class="object-9"></div>
<div class="object-4"></div>
<div class="object-5"></div>
<div class="object-6"></div>
<div class="object-1"></div>
<div class="object-2"></div>
<div class="object-3"></div>
<div class="object-[center_top]"></div>
<div class="object-[50px_50%]"></div>
<div class="object-unset"></div>
<div class="object-[unset]"></div>
<!-- https://tailwindcss.com/docs/overflow -->
<div class="overflow-auto"></div>
<div class="overflow-x-auto"></div>
<div class="overflow-y-auto"></div>
<div class="overflow-unset"></div>
<div class="overflow-[unset]"></div>
<div class="overflow-[hidden_visible]"></div>
<!-- https://tailwindcss.com/docs/overscroll-behavior -->
<div class="overscroll-auto"></div>
<div class="overscroll-x-auto"></div>
<div class="overscroll-y-auto"></div>
<div class="overscroll-unset"></div>
<div class="overscroll-[unset]"></div>
<div class="overscroll-[auto_contain]"></div>
<!-- https://tailwindcss.com/docs/overscroll-position -->
<div class="static"></div>
<div class="fixed"></div>
<div class="absolute"></div>
<div class="relative"></div>
<div class="sticky"></div>
<div class="sticky"></div>
<div class="position-"></div>
<div class="position-[unset]"></div>
<!-- https://tailwindcss.com/docs/top-right-bottom-left -->
<div class="left-1px"></div>
<div class="right-1px"></div>
<div class="bottom-1px"></div>
<div class="top-1px"></div>
<div class="inset-0"></div>
<div class="inset-0"></div>
<div class="-inset-1"></div>
<div class="inset-1"></div>
<div class="inset-1px"></div>
<div class="inset-1px"></div>
<div class="inset-1rem"></div>
<div class="inset-auto"></div>
<div class="inset-1/1"></div>
<div class="inset-unset"></div>
<div class="inset-[unset]"></div>
<!-- https://tailwindcss.com/docs/visibility -->
<div class="visible"></div>
<div class="invisible"></div>
<div class="invisible"></div>
<div class="visible-unset"></div>
<div class="visible-[unset]"></div>
<!-- https://tailwindcss.com/docs/z-index -->
<div class="z-auto"></div>
<div class="z-auto"></div>
<div class="z-2333"></div>
<div class="z-unset"></div>
<div class="z-[unset]"></div>
</body>
</html>