
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/d/d5/Tailwind_CSS_Logo.svg"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>Layout tests</title>
</head>
<body>
<!-- https://tailwindcss.com/docs/aspect-ratio -->
<div style="aspect-ratio:1/1;"></div>
<div style="aspect-ratio:16/9;"></div>
<div style="aspect-ratio:1/1;"></div>
<div style="aspect-ratio:16/9;"></div>
<div style="aspect-ratio:21/9;"></div>
<div style="aspect-ratio:auto;"></div>
<div style="aspect-ratio:unset;"></div>
<div style="aspect-ratio:unset;"></div>
<div style="aspect-ratio:16/9;"></div>
<!-- https://tailwindcss.com/docs/container -->
<div style="" class="HjMohhM6ePS"></div>
<!-- https://tailwindcss.com/docs/columns -->
<div style="columns:1;"></div>
<div style="columns:auto;"></div>
<div style="columns:20rem;"></div>
<div style="columns:320px;"></div>
<div style="columns:auto 1;"></div>
<!-- https://tailwindcss.com/docs/break-before -->
<div style="break-before:auto;"></div>
<div style="break-before:unset;"></div>
<div style="break-before:unset;"></div>
<!-- https://tailwindcss.com/docs/break-inside -->
<div style="break-inside:auto;"></div>
<div style="break-inside:unset;"></div>
<div style="break-inside:unset;"></div>
<!-- https://tailwindcss.com/docs/break-after -->
<div style="break-after:auto;"></div>
<div style="break-after:unset;"></div>
<div style="break-after:unset;"></div>
<!-- https://tailwindcss.com/docs/box-decoration-break -->
<div style="box-decoration-break:clone;"></div>
<div style="box-decoration-break:slice;"></div>
<div style="box-decoration-break:clone;"></div>
<div style="box-decoration-break:slice;"></div>
<div style="box-decoration-break:unset;"></div>
<div style="box-decoration-break:unset;"></div>
<!-- https://tailwindcss.com/docs/box-sizing -->
<div style="box-sizing:border-box;"></div>
<div style="box-sizing:content-box;"></div>
<div style="box-sizing:border-box;"></div>
<div style="box-sizing:content-box;"></div>
<div style="box-sizing:unset;"></div>
<div style="box-sizing:unset;"></div>
<!-- https://tailwindcss.com/docs/display -->
<div style="display:block;"></div>
<div style="display:inline-block;"></div>
<div style="display:inline;"></div>
<div style="display:flex;"></div>
<div style="display:contents;"></div>
<div style="display:hidden;"></div>
<div class="display-hidden"></div>
<div class="display-none"></div>
<div class="display-unset"></div>
<div class="display-[unset]"></div>
<!-- https://tailwindcss.com/docs/float -->
<div style="float:none;"></div>
<div style="float:left;"></div>
<div style="float:right;"></div>
<div style="float:unset;"></div>
<div style="float:unset;"></div>
<!-- https://tailwindcss.com/docs/clear -->
<div style="clear:none;"></div>
<div style="clear:left;"></div>
<div style="clear:right;"></div>
<div style="clear:both;"></div>
<div style="clear:unset;"></div>
<div style="clear:unset;"></div>
<!-- https://tailwindcss.com/docs/isolation -->
<div style="isolation:isolate;"></div>
<div style="isolation:auto;"></div>
<div style="isolation:isolate;"></div>
<div style="isolation:unset;"></div>
<div style="isolation:unset;"></div>
<!-- https://tailwindcss.com/docs/object-fit -->
<div style="object-fit:fill;"></div>
<div style="object-fit:contain;"></div>
<div style="object-fit:cover;"></div>
<div style="object-fit:scale-down;"></div>
<div style="object-fit:none;"></div>
<div style="object-fit:none;"></div>
<div style="object-fit:unset;"></div>
<div style="object-fit:unset;"></div>
<div style="object-fit:unset;"></div>
<div style="object-position:unset;"></div>
<!-- https://tailwindcss.com/docs/object-position -->
<div style="object-position:0% 0%;"></div>
<div style="object-position:50% 0%;"></div>
<div style="object-position:100% 0%;"></div>
<div style="object-position:0% 50%;"></div>
<div style="object-position:50% 50%;"></div>
<div style="object-position:100% 50%;"></div>
<div style="object-position:0% 100%;"></div>
<div style="object-position:50% 100%;"></div>
<div style="object-position:100% 100%;"></div>
<div style="object-position:center top;"></div>
<div style="object-position:50px 50%;"></div>
<div style="object-position:unset;"></div>
<div style="object-position:unset;"></div>
<!-- https://tailwindcss.com/docs/overflow -->
<div style="overflow:auto;"></div>
<div style="overflow-x:auto;"></div>
<div style="overflow-y:auto;"></div>
<div style="overflow:unset;"></div>
<div style="overflow:unset;"></div>
<div style="overflow:hidden visible;"></div>
<!-- https://tailwindcss.com/docs/overscroll-behavior -->
<div style="overscroll-behavior:auto;"></div>
<div style="overscroll-behavior-x:auto;"></div>
<div style="overscroll-behavior-y:auto;"></div>
<div style="overscroll-behavior:unset;"></div>
<div style="overscroll-behavior:unset;"></div>
<div style="overscroll-behavior:auto contain;"></div>
<!-- https://tailwindcss.com/docs/overscroll-position -->
<div style="position:static;"></div>
<div style="position:fixed;"></div>
<div style="position:absolute;"></div>
<div style="position:relative;"></div>
<div style="position:sticky;"></div>
<div style="position:sticky;"></div>
<div style="position:unset;"></div>
<div style="position:unset;"></div>
<!-- https://tailwindcss.com/docs/top-right-bottom-left -->
<div style="left:1px;"></div>
<div style="right:1px;"></div>
<div style="bottom:1px;"></div>
<div style="top:1px;"></div>
<div style="bottom:0rem;left:0rem;right:0rem;top:0rem;"></div>
<div style="bottom:-0rem;left:-0rem;right:-0rem;top:-0rem;"></div>
<div style="bottom:-0.25rem;left:-0.25rem;right:-0.25rem;top:-0.25rem;"></div>
<div style="bottom:0.25rem;left:0.25rem;right:0.25rem;top:0.25rem;"></div>
<div style="bottom:1px;left:1px;right:1px;top:1px;"></div>
<div style="bottom:1px;left:1px;right:1px;top:1px;"></div>
<div style="bottom:1rem;left:1rem;right:1rem;top:1rem;"></div>
<div style="bottom:auto;left:auto;right:auto;top:auto;"></div>
<div style="bottom:100%;left:100%;right:100%;top:100%;"></div>
<div style="bottom:unset;left:unset;right:unset;top:unset;"></div>
<div style="bottom:unset;left:unset;right:unset;top:unset;"></div>
<!-- https://tailwindcss.com/docs/visibility -->
<div style="visibility:visible;"></div>
<div style="visibility:hidden;"></div>
<div style="visibility:hidden;"></div>
<div style="visibility:unset;"></div>
<div style="visibility:unset;"></div>
<!-- https://tailwindcss.com/docs/z-index -->
<div style="z-index:auto;"></div>
<div style="z-index:auto;"></div>
<div style="z-index:2333;"></div>
<div style="z-index:unset;"></div>
<div style="z-index:unset;"></div>
</body>
</html>