
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/d/d5/Tailwind_CSS_Logo.svg"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>Layout tests</title>
</head>
<body>
<!-- https://tailwindcss.com/docs/aspect-ratio -->
<div style="aspect-ratio:1/1;" class=""></div>
<div style="aspect-ratio:16/9;" class=""></div>
<div style="aspect-ratio:1/1;" class=""></div>
<div style="aspect-ratio:16/9;" class=""></div>
<div style="aspect-ratio:21/9;" class=""></div>
<div style="aspect-ratio:auto;" class=""></div>
<div style="aspect-ratio:unset;" class=""></div>
<div style="aspect-ratio:16/9;" class=""></div>
<div style="aspect-ratio:var(--aspect);" class=""></div>
<!-- https://tailwindcss.com/docs/container -->
<div style="" class="container"></div>
<!-- https://tailwindcss.com/docs/columns -->
<div style="columns:1;" class=""></div>
<div style="columns:auto;" class=""></div>
<div style="columns:20rem;" class=""></div>
<div style="columns:320px;" class=""></div>
<div style="columns:auto 1;" class=""></div>
<!-- https://tailwindcss.com/docs/break-before -->
<div style="break-before:auto;" class=""></div>
<!-- https://tailwindcss.com/docs/break-inside -->
<div style="break-inside:auto;" class=""></div>
<!-- https://tailwindcss.com/docs/break-after -->
<div style="break-after:auto;" class=""></div>
<!-- https://tailwindcss.com/docs/box-decoration-break -->
<div style="box-decoration-break:clone;" class=""></div>
<div style="box-decoration-break:slice;" class=""></div>
<div style="box-decoration-break:clone;" class=""></div>
<div style="box-decoration-break:slice;" class=""></div>
<!-- https://tailwindcss.com/docs/box-sizing -->
<div style="box-sizing:border-box;" class=""></div>
<div style="box-sizing:content-box;" class=""></div>
<div style="box-sizing:border-box;" class=""></div>
<div style="box-sizing:content-box;" class=""></div>
<!-- https://tailwindcss.com/docs/display -->
<div style="display:block;" class=""></div>
<div style="display:inline-block;" class=""></div>
<div style="display:inline;" class=""></div>
<div style="display:flex;" class=""></div>
<!-- https://tailwindcss.com/docs/float -->
<div style="float:none;" class=""></div>
<!-- https://tailwindcss.com/docs/clear -->
<div style="clear:none;" class=""></div>
<!-- https://tailwindcss.com/docs/isolation -->
<div style="isolation:isolate;" class=""></div>
<div style="isolation:auto;" class=""></div>
<!-- https://tailwindcss.com/docs/object-fit -->
<div style="object-fit:none;" class=""></div>
<div class="object-fit-none"></div>
<!-- https://tailwindcss.com/docs/object-position -->
<div style="object-position:50% 0%;" class=""></div>
<div style="object-position:50% 0%;" class=""></div>
<!-- https://tailwindcss.com/docs/overflow -->
<div style="overflow:auto;" class=""></div>
<div style="overflow-x:auto;" class=""></div>
<div style="overflow-y:auto;" class=""></div>
<!-- https://tailwindcss.com/docs/overscroll-behavior -->
<div style="overscroll-behavior:auto;" class=""></div>
<div style="overscroll-behavior-x:auto;" class=""></div>
<div style="overscroll-behavior-x:auto;" class=""></div>
<!-- https://tailwindcss.com/docs/overscroll-position -->
<div style="position:static;" class=""></div>
<div style="position:fixed;" class=""></div>
<div style="position:absolute;" class=""></div>
<div style="position:relative;" class=""></div>
<div style="position:sticky;" class=""></div>
<!-- https://tailwindcss.com/docs/top-right-bottom-left -->
<div style="bottom:0rem;left:0rem;right:0rem;top:0rem;" class=""></div>
<!-- https://tailwindcss.com/docs/visibility -->
<div style="visibility:visible;" class=""></div>
<div style="visibility:hidden;" class=""></div>
<div style="visibility:hidden;" class=""></div>
<!-- https://tailwindcss.com/docs/z-index -->
<div style="z-index:auto;" class=""></div>
<div style="z-index:auto;" class=""></div>
<div style="z-index:2333;" class=""></div>
<div style="z-index:var(--depth);" class=""></div>
</body>
</html>