.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 720px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

._pFW3S_ATUX4 {
  aspect-ratio: 1 / 1;
}

._4GkkKvq3jHc {
  aspect-ratio: 16 / 9;
}

._283ev9o-wvY {
  aspect-ratio: 21 / 9;
}

._NsitdjFPjUs {
  aspect-ratio: auto;
}

._fEzOQpNdUZ0 {
  aspect-ratio: unset;
}

._OO1sd8NXzcA {
  aspect-ratio: var(--aspect);
}

._o3E7-X8j4Xc {
  inset: 0;
}

._vJLn70MMXpc {
  box-decoration-break: clone;
}

._XvJltMWLBpI {
  box-decoration-break: slice;
}

._cMGfm1tqtao {
  box-sizing: border-box;
}

._oFeptxVmqAI {
  box-sizing: content-box;
}

._x5oTOJQ5LTs {
  break-after: auto;
}

._rmv_rSUHEFY {
  break-before: auto;
}

._oyCBr6mktV8 {
  break-inside: auto;
}

._befGabWzCMI {
  columns: 1;
}

._w46tfqvUB_c {
  columns: 20rem;
}

._PF5aJkE2uZg {
  columns: 320px;
}

._0-UGClTCcuk {
  columns: auto;
}

._WVyhaDkUyjw {
  columns: auto 1;
}

._-zYQUKtVDwE {
  display: block;
}

._kxEeuTIW93o {
  display: flex;
}

._HQV_1j8A-vM {
  display: inline;
}

._-hjYETsveMk {
  display: inline-block;
}

._Xzv_HmJxODY {
  float: none;
}

._4CXSWSatedE {
  isolation: auto;
}

._coLFmV-4yZE {
  isolation: isolate;
}

._BieqLwbQKB4 {
  object-fit: none;
}

._Og2tflIljZ0 {
  object-position: 50% 0%;
}

._tmniRw6nPSQ {
  overflow: auto;
}

._35utDVILi1Y {
  overflow-x: auto;
}

._SsIMbiIxS8o {
  overflow-y: auto;
}

._parEZkGrrRI {
  overscroll-behavior: auto;
}

._LdNT9vWO1yQ {
  overscroll-behavior-x: auto;
}

._HolXeZw1qRE {
  position: absolute;
}

._gC3akU4H8GI {
  position: fixed;
}

._-Yq1iOzyzts {
  position: relative;
}

._2D66CfoJOGY {
  position: static;
}

._IMSH6kFmA9M {
  position: sticky;
}

._jNLnVaxwdQA {
  visibility: hidden;
}

._Sbdjb5XLP2s {
  visibility: visible;
}

._6WjFtMealD8 {
  z-index: 2333;
}

._7OyC0Ctw678 {
  z-index: auto;
}

._3yX-RkETTQM {
  z-index: var(--depth);
}

._dD35TuTHiio {
}
