
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/d/d5/Tailwind_CSS_Logo.svg"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>Layout tests</title>
</head>
<body>
<!-- https://tailwindcss.com/docs/aspect-ratio -->
<div style="aspect-ratio:1/1;" class=""></div>
<div style="aspect-ratio:16/9;" class=""></div>
<div style="aspect-ratio:1/1;" class=""></div>
<div style="aspect-ratio:16/9;" class=""></div>
<div style="aspect-ratio:21/9;" class=""></div>
<div style="aspect-ratio:auto;" class=""></div>
<div style="aspect-ratio:unset;" class=""></div>
<div style="aspect-ratio:unset;" class=""></div>
<div style="aspect-ratio:16/9;" class=""></div>
<!-- https://tailwindcss.com/docs/container -->
<div style="" class="_nlpL50x3uGc"></div>
<!-- https://tailwindcss.com/docs/columns -->
<div style="columns:1;" class=""></div>
<div style="columns:auto;" class=""></div>
<div style="columns:20rem;" class=""></div>
<div style="columns:320px;" class=""></div>
<div style="columns:auto 1;" class=""></div>
<!-- https://tailwindcss.com/docs/break-before -->
<div style="break-before:auto;" class=""></div>
<div style="break-before:unset;" class=""></div>
<div style="break-before:unset;" class=""></div>
<!-- https://tailwindcss.com/docs/break-inside -->
<div style="break-inside:auto;" class=""></div>
<div style="break-inside:unset;" class=""></div>
<div style="break-inside:unset;" class=""></div>
<!-- https://tailwindcss.com/docs/break-after -->
<div style="break-after:auto;" class=""></div>
<div style="break-after:unset;" class=""></div>
<div style="break-after:unset;" class=""></div>
<!-- https://tailwindcss.com/docs/box-decoration-break -->
<div style="box-decoration-break:clone;" class=""></div>
<div style="box-decoration-break:slice;" class=""></div>
<div style="box-decoration-break:clone;" class=""></div>
<div style="box-decoration-break:slice;" class=""></div>
<div style="box-decoration-break:unset;" class=""></div>
<div style="box-decoration-break:unset;" class=""></div>
<!-- https://tailwindcss.com/docs/box-sizing -->
<div style="box-sizing:border-box;" class=""></div>
<div style="box-sizing:content-box;" class=""></div>
<div style="box-sizing:border-box;" class=""></div>
<div style="box-sizing:content-box;" class=""></div>
<div style="box-sizing:unset;" class=""></div>
<div style="box-sizing:unset;" class=""></div>
<!-- https://tailwindcss.com/docs/display -->
<div style="display:block;" class=""></div>
<div style="display:inline-block;" class=""></div>
<div style="display:inline;" class=""></div>
<div style="display:flex;" class=""></div>
<div style="display:contents;" class=""></div>
<div style="display:hidden;" class=""></div>
<div class="display-hidden"></div>
<div class="display-none"></div>
<div class="display-unset"></div>
<div class="display-[unset]"></div>
<!-- https://tailwindcss.com/docs/float -->
<div style="float:none;" class=""></div>
<div style="float:left;" class=""></div>
<div style="float:right;" class=""></div>
<div style="float:unset;" class=""></div>
<div style="float:unset;" class=""></div>
<!-- https://tailwindcss.com/docs/clear -->
<div style="clear:none;" class=""></div>
<div style="clear:left;" class=""></div>
<div style="clear:right;" class=""></div>
<div style="clear:both;" class=""></div>
<div style="clear:unset;" class=""></div>
<div style="clear:unset;" class=""></div>
<!-- https://tailwindcss.com/docs/isolation -->
<div style="isolation:isolate;" class=""></div>
<div style="isolation:auto;" class=""></div>
<div style="isolation:isolate;" class=""></div>
<div style="isolation:unset;" class=""></div>
<div style="isolation:unset;" class=""></div>
<!-- https://tailwindcss.com/docs/object-fit -->
<div style="object-fit:fill;" class=""></div>
<div style="object-fit:contain;" class=""></div>
<div style="object-fit:cover;" class=""></div>
<div style="object-fit:scale-down;" class=""></div>
<div style="object-fit:none;" class=""></div>
<div style="object-fit:none;" class=""></div>
<div style="object-fit:unset;" class=""></div>
<div style="object-fit:unset;" class=""></div>
<div style="object-fit:unset;" class=""></div>
<div style="object-position:unset;" class=""></div>
<!-- https://tailwindcss.com/docs/object-position -->
<div style="object-position:0% 0%;" class=""></div>
<div style="object-position:50% 0%;" class=""></div>
<div style="object-position:100% 0%;" class=""></div>
<div style="object-position:0% 50%;" class=""></div>
<div style="object-position:50% 50%;" class=""></div>
<div style="object-position:100% 50%;" class=""></div>
<div style="object-position:0% 100%;" class=""></div>
<div style="object-position:50% 100%;" class=""></div>
<div style="object-position:100% 100%;" class=""></div>
<div style="object-position:center top;" class=""></div>
<div style="object-position:50px 50%;" class=""></div>
<div style="object-position:unset;" class=""></div>
<div style="object-position:unset;" class=""></div>
<!-- https://tailwindcss.com/docs/overflow -->
<div style="overflow:auto;" class=""></div>
<div style="overflow-x:auto;" class=""></div>
<div style="overflow-y:auto;" class=""></div>
<div style="overflow:unset;" class=""></div>
<div style="overflow:unset;" class=""></div>
<div style="overflow:hidden visible;" class=""></div>
<!-- https://tailwindcss.com/docs/overscroll-behavior -->
<div style="overscroll-behavior:auto;" class=""></div>
<div style="overscroll-behavior-x:auto;" class=""></div>
<div style="overscroll-behavior-y:auto;" class=""></div>
<div style="overscroll-behavior:unset;" class=""></div>
<div style="overscroll-behavior:unset;" class=""></div>
<div style="overscroll-behavior:auto contain;" class=""></div>
<!-- https://tailwindcss.com/docs/overscroll-position -->
<div style="position:static;" class=""></div>
<div style="position:fixed;" class=""></div>
<div style="position:absolute;" class=""></div>
<div style="position:relative;" class=""></div>
<div style="position:sticky;" class=""></div>
<div style="position:sticky;" class=""></div>
<div style="position:unset;" class=""></div>
<div style="position:unset;" class=""></div>
<!-- https://tailwindcss.com/docs/top-right-bottom-left -->
<div style="left:1px;" class=""></div>
<div style="right:1px;" class=""></div>
<div style="bottom:1px;" class=""></div>
<div style="top:1px;" class=""></div>
<div style="bottom:0rem;left:0rem;right:0rem;top:0rem;" class=""></div>
<div style="bottom:-0rem;left:-0rem;right:-0rem;top:-0rem;" class=""></div>
<div style="bottom:-0.25rem;left:-0.25rem;right:-0.25rem;top:-0.25rem;" class=""></div>
<div style="bottom:0.25rem;left:0.25rem;right:0.25rem;top:0.25rem;" class=""></div>
<div style="bottom:1px;left:1px;right:1px;top:1px;" class=""></div>
<div style="bottom:1px;left:1px;right:1px;top:1px;" class=""></div>
<div style="bottom:1rem;left:1rem;right:1rem;top:1rem;" class=""></div>
<div style="bottom:auto;left:auto;right:auto;top:auto;" class=""></div>
<div style="bottom:100%;left:100%;right:100%;top:100%;" class=""></div>
<div style="bottom:unset;left:unset;right:unset;top:unset;" class=""></div>
<div style="bottom:unset;left:unset;right:unset;top:unset;" class=""></div>
<!-- https://tailwindcss.com/docs/visibility -->
<div style="visibility:visible;" class=""></div>
<div style="visibility:hidden;" class=""></div>
<div style="visibility:hidden;" class=""></div>
<div style="visibility:unset;" class=""></div>
<div style="visibility:unset;" class=""></div>
<!-- https://tailwindcss.com/docs/z-index -->
<div style="z-index:auto;" class=""></div>
<div style="z-index:auto;" class=""></div>
<div style="z-index:2333;" class=""></div>
<div style="z-index:unset;" class=""></div>
<div style="z-index:unset;" class=""></div>
</body>
</html>