.height-screen {
  height: 100vh;
}

.max-height-screen {
  max-height: 100vh;
}

.max-width-\[0px\] {
  max-width: 0;
}

.max-width-\[50\%\] {
  max-width: 50%;
}

.min-height-screen {
  min-height: 100vh;
}

.min-width-\[0px\] {
  min-width: 0;
}

.min-width-fit {
  min-width: fit-content;
}

.min-width-full {
  min-width: 100%;
}

.min-width-max {
  min-width: max-content;
}

.min-width-min {
  min-width: min-content;
}

.width-0\/12 {
  width: 0%;
}

.width-1\/1 {
  width: 1%;
}

.width-1\/2 {
  width: .5%;
}

.width-12\/12, .width-2\/2 {
  width: 1%;
}

.width-\[0em\] {
  width: 0;
}

.width-\[0px\] {
  width: 0;
}

.width-\[10\%\] {
  width: 10%;
}

.width-\[1px\] {
  width: 1px;
}

.width-auto {
  width: auto;
}

.width-fit {
  width: fit-content;
}

.width-full {
  width: 100%;
}

.width-max {
  width: max-content;
}

.width-min {
  width: min-content;
}

.width-screen {
  width: 100vw;
}
