.accent-inherit {
  accent-color: inherit;
}

.appearance-none {
  appearance: none;
}

.snap-\[unset\] {
  scroll-snap-type: unset;
}

.snap-\[x_mandatory\] {
  scroll-snap-type: x mandatory;
}

.snap-\[y_proximity\] {
  scroll-snap-type: y proximity;
}

.snap-align-\[unset\] {
  scroll-snap-align: unset;
}

.snap-align-none {
  scroll-snap-align: none;
}

.snap-align-unset {
  scroll-snap-align: unset;
}

.snap-always {
  scroll-snap-stop: always;
}

.snap-both {
  scroll-snap-type: both;
}

.snap-center {
  scroll-snap-align: center;
}

.snap-end {
  scroll-snap-align: end;
}

.snap-none {
  scroll-snap-type: none;
}

.snap-normal {
  scroll-snap-stop: normal;
}

.snap-start {
  scroll-snap-align: start;
}

.snap-stop-\[unset\], .snap-stop-unset {
  scroll-snap-stop: unset;
}

.snap-unset {
  scroll-snap-type: unset;
}

.snap-x {
  scroll-snap-type: x;
}

.snap-y {
  scroll-snap-type: y;
}
