.auto-cols-auto {
  grid-auto-columns: auto;
}

.auto-cols-fr {
  grid-auto-columns: minmax(0, 1fr);
}

.auto-cols-max {
  grid-auto-columns: max-content;
}

.auto-cols-min {
  grid-auto-columns: min-content;
}

.auto-rows-auto {
  grid-auto-rows: auto;
}

.auto-rows-fr {
  grid-auto-rows: minmax(0, 1fr);
}

.auto-rows-max {
  grid-auto-rows: max-content;
}

.auto-rows-min {
  grid-auto-rows: min-content;
}

.basis-0 {
  flex-basis: 0;
}

.basis-0\/1 {
  flex-basis: 0%;
}

.basis-1\/1 {
  flex-basis: 100%;
}

.basis-1\/2 {
  flex-basis: 50%;
}

.basis-2\.5 {
  flex-basis: .625rem;
}

.basis-\[1px\] {
  flex-basis: 1px;
}

.basis-\[calc\(20\%_-_30px\)\] {
  flex-basis: calc(20% - 30px);
}

.basis-auto {
  flex-basis: auto;
}

.basis-fit {
  flex-basis: fit-content;
}

.basis-max {
  flex-basis: max-content;
}

.basis-min {
  flex-basis: min-content;
}

.col-span-auto {
  grid-column: auto;
}

.content-align-start {
  align-content: start;
}

.flex-auto {
  flex: auto;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-initial {
  flex: initial;
}

.flex-none {
  flex: none;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.gap-\[0rem\] {
  gap: 0;
}

.gap-x-\[0rem\] {
  column-gap: 0;
}

.gap-y-\[0rem\] {
  row-gap: 0;
}

.grid-cols-0 {
  grid-template-columns: repeat(0, minmax(0, 1fr));
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-none {
  grid-template-columns: none;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-flow-col-dense {
  grid-auto-flow: column dense;
}

.grid-flow-grid-flow-row {
  grid-auto-flow: row;
}

.grid-flow-row-dense {
  grid-auto-flow: row dense;
}

.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.grow-0 {
  flex-grow: 0;
}

.grow-1 {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

.justify-content-start {
  justify-content: start;
}

.justify-items-start {
  justify-items: start;
}

.justify-self-start {
  justify-self: start;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-9999 {
  order: 9999;
}

.order-unset {
  order: unset;
}

.place-content-start {
  place-content: start;
}

.place-items-start {
  place-items: start;
}

.place-self-start {
  place-self: start;
}

.row-span-auto {
  grid-row: auto;
}

.self-start {
  align-self: start;
}

.shrink-0 {
  flex-shrink: 0;
}

.shrink-1 {
  flex-shrink: 1;
}

.shrink-2 {
  flex-shrink: 2;
}
