.bg-attach-\[unset\], .bg-attach-unset {
  background-attachment: unset;
}

.bg-clip-\[unset\] {
  background-clip: unset;
}

.bg-clip-border {
  background-clip: border-box;
}

.bg-clip-content {
  background-clip: content-box;
}

.bg-clip-padding {
  background-clip: padding-box;
}

.bg-clip-text {
  background-clip: text;
}

.bg-clip-unset {
  background-clip: unset;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-local {
  background-attachment: local;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-origin-\[unset\] {
  background-origin: unset;
}

.bg-origin-border {
  background-origin: border-box;
}

.bg-origin-content {
  background-origin: content-box;
}

.bg-origin-padding {
  background-origin: padding-box;
}

.bg-origin-unset {
  background-origin: unset;
}

.bg-repeat {
  background-repeat: repeat;
}

.bg-repeat-\[unset\] {
  background-repeat: unset;
}

.bg-repeat-round {
  background-repeat: round;
}

.bg-repeat-space {
  background-repeat: space;
}

.bg-repeat-unset {
  background-repeat: unset;
}

.bg-repeat-x {
  background-repeat: repeat-x;
}

.bg-repeat-y {
  background-repeat: repeat-y;
}

.bg-scroll {
  background-attachment: scroll;
}
