.bg-blend-\[darken\,luminosity\] {
  background-blend-mode: darken, luminosity;
}

.bg-blend-\[unset\] {
  background-blend-mode: unset;
}

.bg-blend-difference {
  background-blend-mode: difference;
}

.bg-blend-exclusion {
  background-blend-mode: exclusion;
}

.bg-blend-soft-light {
  background-blend-mode: soft-light;
}

.bg-blend-unset {
  background-blend-mode: unset;
}

.drop-shadow {
  filter: drop-shadow(0 1px 2px #0000001a) drop-shadow(0 1px 1px #0000000f);
}

.drop-shadow-\[0_35px_60px_-15px_rgba\(0\,_0\,_0\,_0\.3\)\] {
  filter: 0 35px 60px -15px #0000004d;
}

.drop-shadow-\[unset\] {
  filter: unset;
}

.drop-shadow-custom, .drop-shadow-default {
  filter: drop-shadow(0 1px 2px #0000001a) drop-shadow(0 1px 1px #0000000f);
}

.drop-shadow-lg {
  filter: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
}

.drop-shadow-md {
  filter: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
}

.drop-shadow-none {
  filter: 0 0 #0000;
}

.drop-shadow-sm {
  filter: 0 1px 2px 0 #0000000d;
}

.drop-shadow-unset {
  filter: drop-shadow(0 1px 2px #0000001a) drop-shadow(0 1px 1px #0000000f);
}

.drop-shadow-xl {
  filter: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
}

.mix-blend-\[unset\] {
  mix-blend-mode: unset;
}

.mix-blend-color-burn {
  mix-blend-mode: color-burn;
}

.mix-blend-color-dodge {
  mix-blend-mode: color-dodge;
}

.mix-blend-hard-light {
  mix-blend-mode: hard-light;
}

.mix-blend-unset {
  mix-blend-mode: unset;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.opacity-50 {
  opacity: .5;
}

.opacity-unset {
  opacity: unset;
}

.shadow {
  box-shadow: 0 1px 3px #0000001a, 0 1px 2px -1px #0000001a;
}

.shadow-\[0_35px_60px_-15px_rgba\(0\,_0\,_0\,_0\.3\)\] {
  box-shadow: 0 35px 60px -15px #0000004d;
}

.shadow-\[unset\] {
  box-shadow: unset;
}

.shadow-custom, .shadow-cyan-500\/50, .shadow-default {
  box-shadow: 0 1px 3px #0000001a, 0 1px 2px -1px #0000001a;
}

.shadow-inner {
  box-shadow: inset 0 2px 4px #0000000d;
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
}

.shadow-md {
  box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
}

.shadow-none {
  box-shadow: 0 0 #0000;
}

.shadow-slate-900 {
  box-shadow: 0 1px 3px #0000001a, 0 1px 2px -1px #0000001a;
}

.shadow-sm {
  box-shadow: 0 1px 2px #0000000d;
}

.shadow-transparent {
  --tw-shadow-color: transparent;
}

.shadow-unset {
  box-shadow: 0 1px 3px #0000001a, 0 1px 2px -1px #0000001a;
}

.shadow-xl {
  box-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
}
