.not-sr-only {
  clip: auto;
  height: auto;
  white-space: normal;
  width: auto;
  margin: 0;
  padding: 0;
  position: static;
  overflow: visible;
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  white-space: nowrap;
  width: 1px;
  border-width: 0;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}
