
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/d/d5/Tailwind_CSS_Logo.svg"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>Layout tests</title>
</head>
<body>
<!-- https://tailwindcss.com/docs/aspect-ratio -->
<div class="aspect-1/1"></div>
<div class="aspect-16/9"></div>
<div class="aspect-1/1"></div>
<div class="aspect-16/9"></div>
<div class="aspect-21/9"></div>
<div class="aspect-auto"></div>
<div class="aspect-unset"></div>
<div class="aspect-[16/9]"></div>
<div class="aspect-[var(--aspect)]"></div>
<!-- https://tailwindcss.com/docs/container -->
<div class="container"></div>
<!-- https://tailwindcss.com/docs/columns -->
<div class="columns-1"></div>
<div class="columns-auto"></div>
<div class="columns-[20rem]"></div>
<div class="columns-[320px]"></div>
<div class="columns-[auto 1]"></div>
<!-- https://tailwindcss.com/docs/break-before -->
<div class="break-before-auto"></div>
<!-- https://tailwindcss.com/docs/break-inside -->
<div class="break-inside-auto"></div>
<!-- https://tailwindcss.com/docs/break-after -->
<div class="break-after-auto"></div>
<!-- https://tailwindcss.com/docs/box-decoration-break -->
<div class="box-clone"></div>
<div class="box-slice"></div>
<div class="box-clone"></div>
<div class="box-slice"></div>
<!-- https://tailwindcss.com/docs/box-sizing -->
<div class="box-border"></div>
<div class="box-content"></div>
<div class="box-border"></div>
<div class="box-content"></div>
<!-- https://tailwindcss.com/docs/display -->
<div class="display-block"></div>
<div class="display-inline-block"></div>
<div class="display-inline"></div>
<div class="display-flex"></div>
<!-- https://tailwindcss.com/docs/float -->
<div class="float-none"></div>
<!-- https://tailwindcss.com/docs/clear -->
<div class="float-none"></div>
<!-- https://tailwindcss.com/docs/isolation -->
<div class="isolate"></div>
<div class="isolation-auto"></div>
<!-- https://tailwindcss.com/docs/object-fit -->
<div class="object-none"></div>
<div class="object-fit-none"></div>
<!-- https://tailwindcss.com/docs/object-position -->
<div class="object-[50% 0%]"></div>
<div class="object-[50% 0%]"></div>
<!-- https://tailwindcss.com/docs/overflow -->
<div class="overflow-auto"></div>
<div class="overflow-x-auto"></div>
<div class="overflow-y-auto"></div>
<!-- https://tailwindcss.com/docs/overscroll-behavior -->
<div class="overscroll-auto"></div>
<div class="overscroll-x-auto"></div>
<div class="overscroll-x-auto"></div>
<!-- https://tailwindcss.com/docs/overscroll-position -->
<div class="static"></div>
<div class="fixed"></div>
<div class="absolute"></div>
<div class="relative"></div>
<div class="sticky"></div>
<!-- https://tailwindcss.com/docs/top-right-bottom-left -->
<div class="inset-[0rem]"></div>
<!-- https://tailwindcss.com/docs/visibility -->
<div class="visible"></div>
<div class="visible-none"></div>
<div class="invisible"></div>
<!-- https://tailwindcss.com/docs/z-index -->
<div class="z-auto"></div>
<div class="z-auto"></div>
<div class="z-2333"></div>
<div class="z-[var(--depth)]"></div>
</body>
</html>