.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 720px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

[data-tw-pFW3S_ATUX4] {
  aspect-ratio: 1 / 1;
}

[data-tw-4GkkKvq3jHc] {
  aspect-ratio: 16 / 9;
}

[data-tw-283ev9o-wvY] {
  aspect-ratio: 21 / 9;
}

[data-tw-NsitdjFPjUs] {
  aspect-ratio: auto;
}

[data-tw-fEzOQpNdUZ0] {
  aspect-ratio: unset;
}

[data-tw-OO1sd8NXzcA] {
  aspect-ratio: var(--aspect);
}

[data-tw-o3E7-X8j4Xc] {
  inset: 0;
}

[data-tw-vJLn70MMXpc] {
  box-decoration-break: clone;
}

[data-tw-XvJltMWLBpI] {
  box-decoration-break: slice;
}

[data-tw-cMGfm1tqtao] {
  box-sizing: border-box;
}

[data-tw-oFeptxVmqAI] {
  box-sizing: content-box;
}

[data-tw-x5oTOJQ5LTs] {
  break-after: auto;
}

[data-tw-rmv_rSUHEFY] {
  break-before: auto;
}

[data-tw-oyCBr6mktV8] {
  break-inside: auto;
}

[data-tw-befGabWzCMI] {
  columns: 1;
}

[data-tw-w46tfqvUB_c] {
  columns: 20rem;
}

[data-tw-PF5aJkE2uZg] {
  columns: 320px;
}

[data-tw-0-UGClTCcuk] {
  columns: auto;
}

[data-tw-WVyhaDkUyjw] {
  columns: auto 1;
}

[data-tw--zYQUKtVDwE] {
  display: block;
}

[data-tw-kxEeuTIW93o] {
  display: flex;
}

[data-tw-HQV_1j8A-vM] {
  display: inline;
}

[data-tw--hjYETsveMk] {
  display: inline-block;
}

[data-tw-Xzv_HmJxODY] {
  float: none;
}

[data-tw-4CXSWSatedE] {
  isolation: auto;
}

[data-tw-coLFmV-4yZE] {
  isolation: isolate;
}

[data-tw-BieqLwbQKB4] {
  object-fit: none;
}

[data-tw-Og2tflIljZ0] {
  object-position: 50% 0%;
}

[data-tw-tmniRw6nPSQ] {
  overflow: auto;
}

[data-tw-35utDVILi1Y] {
  overflow-x: auto;
}

[data-tw-SsIMbiIxS8o] {
  overflow-y: auto;
}

[data-tw-parEZkGrrRI] {
  overscroll-behavior: auto;
}

[data-tw-LdNT9vWO1yQ] {
  overscroll-behavior-x: auto;
}

[data-tw-HolXeZw1qRE] {
  position: absolute;
}

[data-tw-gC3akU4H8GI] {
  position: fixed;
}

[data-tw--Yq1iOzyzts] {
  position: relative;
}

[data-tw-2D66CfoJOGY] {
  position: static;
}

[data-tw-IMSH6kFmA9M] {
  position: sticky;
}

[data-tw-jNLnVaxwdQA] {
  visibility: hidden;
}

[data-tw-Sbdjb5XLP2s] {
  visibility: visible;
}

[data-tw-6WjFtMealD8] {
  z-index: 2333;
}

[data-tw-7OyC0Ctw678] {
  z-index: auto;
}

[data-tw-3yX-RkETTQM] {
  z-index: var(--depth);
}

[data-tw-dD35TuTHiio] {
}
