.border-collapse {
  border-collapse: collapse;
}

.border-collapse-\[unset\], .border-collapse-unset {
  border-collapse: unset;
}

.border-separate {
  border-collapse: separate;
}

.display-table {
  display: table;
}

.display-table-caption {
  display: table-caption;
}

.display-table-cell {
  display: table-cell;
}

.display-table-column {
  display: table-column;
}

.display-table-column-group {
  display: table-column-group;
}

.display-table-footer-group {
  display: table-footer-group;
}

.display-table-header-group {
  display: table-header-group;
}

.display-table-row {
  display: table-row;
}

.table-\[unset\] {
  table-layout: unset;
}

.table-auto {
  table-layout: auto;
}

.table-fixed {
  table-layout: fixed;
}

.table-unset {
  table-layout: unset;
}
