.hEnSThBWp1W {
}

.I6v0yaMtaGB {
  filter: 0px 1px 2px black;
}

.KtBxb37SdGF {
  filter: blur(15px);
}

.McLuVxQ3DeZ {
  filter: brightness(300%);
}

.gYJkZJ6fpPG {
  filter: contrast(2.4);
}

.ullGHMFnnpQ {
  filter: grayscale(.55);
}

.qnKYbPVi2qN {
  filter: hue-rotate(.8turn);
}

.z92evK3d3lK {
  filter: invert(.75);
}

.Sv7wIUVEjCF {
  filter: saturate(180%);
}

.sajYRHgRQ5B {
  filter: sepia(.2);
}

.h7swFyCCQyC {
  backdrop-filter: blur(11px);
}

.c0HDa2kaNUQ {
  backdrop-filter: brightness(1.23);
}

.YLK8jOBbL7E {
  backdrop-filter: contrast(.87);
}

.QuwS8nCkiDA {
  backdrop-filter: grayscale(.42);
}

.jpdx3VrYotQ {
  backdrop-filter: hue-rotate(89.9544deg);
}

.mL1keryRI6C {
  backdrop-filter: invert(.66);
}

.HrvxPIQZL5K {
  backdrop-filter: opacity(50%);
}

.zuQS9UJgDxK {
  backdrop-filter: saturate(144%);
}

.NbXPh3Vn4VC {
  backdrop-filter: sepia(.38);
}

.tLp7Em5I4AM {
  transform: rotate(1.5turn)rotate(131.78deg)rotate(23deg)rotate(401grad);
}

.segKjfkLpqS {
  transform: scale(.7);
}

.k3QA2RW0CcY {
  transform: scale(var(--value) );
}

.ATakmUrzSGV {
  transform: scaleX(.7);
}

.ZcwgaMht20T {
  transform: scaleX(var(--value) );
}

.MrCSkg486DB {
  transform: scaleY(.7);
}

.qwYATg8t6aZ {
  transform: scaleY(var(--value) );
}

.UmJGzmF3EnI {
  transform: skewX(3px);
}

.oUnsItBRTkM {
  transform: skewX(var(--value) );
}

.JVcg8wLrtkX {
  transform: skewY(3px);
}

.kPOg3MQesMT {
  transform: skewY(var(--value) );
}

.O9Nc3n5HVxP {
  transform: translateX(12%);
}

.HzauCdwTO9A {
  transform: translateX(var(--value) );
}

.uZsGG48FZ5H {
  transform: translateY(12%);
}

.gqR8A7QBPAN {
  transform: translateY(var(--value) );
}

.MJLfxhZUh1W {
  --tw-gradient-from: #da5b66;
  --tw-gradient-stops: var(--tw-gradient-from) , #da5b66, var(--tw-gradient-to, #da5b66);
  --tw-gradient-to: #da5b66;
}

.gyXZClMsZZN {
  --tw-ring-offset-width: 3;
  box-shadow: 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) , var(--tw-ring-shadow);
}

.zoaEiRkh8OB {
  accent-color: #bada55;
}

.w7Bi88rI9KJ {
  animation: pong 1s cubic-bezier(0, 0, .2, 1) infinite;
}

.lYpuxvIJaxR {
  animation: var(--value);
}

.NlRWaubKRiU {
  aspect-ratio: var(--aspect);
}

.owxdY502adZ {
  border-bottom-width: [20cm] px;
  border-top-width: 0;
}

.DWFCZdd5cNF {
  border-bottom-width: [calc(20%-1cm) ] px;
  border-top-width: 0;
}

.gji2piafjWE {
  border-left-width: 0;
  border-right-width: [20cm] px;
}

.YDiFLByEXuE {
  border-left-width: 0;
  border-right-width: [calc(20%-1cm) ] px;
}

.Bl1wIU6LQAa {
  border-radius: Unit(11, "px");
}

.zoiG8azaj2X {
  bottom: 11px;
}

.r2WFEUMeFnT {
  inset: 11px;
}

.qkuGejBFnqG {
  top: 11px;
  bottom: 11px;
}

.oNLYmPkDpAT {
  bottom: var(--value);
}

.oYErbfRhTxB {
  bottom: var(--value);
  left: var(--value);
  right: var(--value);
  top: var(--value);
}

.jX8FAwGsJkQ {
  bottom: var(--value);
  top: var(--value);
}

.qs5s8khY3zW {
  box-shadow: 0 1px 2px #000;
}

.X0AInWrfMWR {
  box-shadow: shadow:var(--value);
}

.Acx4GquTO3V {
  caret-color: #000;
}

.gvnxcOcW6RS {
  color: #000;
}

.LCiay4DwhuM {
  color: #7b7b7b;
}

.iq1mbFICe8H {
  column-gap: 20px;
}

.oK7w3oYq3uN {
  columns: var(--columns);
}

.C3HEtVBWrFL {
  content: ">";
}

.sjCrvoEh3aH {
  content: "hello";
}

.I4daiKKI40L {
  content: attr(content-before);
}

.x9sNqBUCFBH {
  cursor: pointer;
}

.GdfoyZjmrSJ {
  cursor: url(./path\20 to\20 hand.cur) 2 2, pointer;
}

.kOE8wtMFF3Y {
  cursor: url(hand.cur) 2 2, pointer;
}

.f0ebKMPh9PG {
  cursor: var(--value);
}

.aHsX3t1fRWE {
  fill: #da5b66;
}

.WxLAYtWuYuG {
  flex: var(--flex);
}

.bkCPXw5mgcY {
  flex-basis: var(--basis);
}

.oSSkfLtRrkK {
  flex-grow: [var(--grow) ];
}

.xtlK5xg0V7A {
  flex-shrink: var(--shrink);
}

.waibkwWzKpA {
  font-family: ;
}

.F53bPd26DHQ {
  gap: 20px;
}

.Z971PRRKu8A {
  grid-auto-columns: minmax(10px, auto);
}

.Ee5MnfSbvBN {
  grid-auto-rows: minmax(10px, auto);
}

.WcuKiRNlkVI {
  grid-column: 1 / -1;
}

.yVskrHyGHOY {
  grid-row: 1 / -1;
}

.MmVXeVfzkKX {
  grid-template-columns: 200px, repeat(auto-fill, minmax(15%, 100px) ) , 300px;
}

.E5IPbIorUcY {
  grid-template-rows: 200px, repeat(auto-fill, minmax(15%, 100px) ) , 300px;
}

.IAshOCB6PNQ {
  left: 11px;
}

.MHKZ81dyCYG {
  left: 11px;
  right: 11px;
}

.LFl2IgleMaB {
  left: var(--value);
}

.esrNvA01sqA {
  left: var(--value);
  right: var(--value);
}

.tHiU8PCQ5kW {
  letter-spacing: var(--tracking);
}

.ACStRpNhQIO {
  list-style-type: "👍";
}

.DYjprXqEebV {
  list-style-type: var(--value);
}

.xe78KERchZK {
  margin: 7px;
}

.z5rtwSaMeSD {
  margin-bottom: 7px;
}

.lSjwXqLV4aO {
  margin-left: 20cm;
}

.QlWCkmBvy0R {
  margin-left: 7px;
}

.NhbfAavFpXH {
  margin-left: 7px;
  margin-right: 7px;
}

.bSjYMBB0JEZ {
  margin-left: calc(20%-1cm);
}

.vFtjJkQTqKM {
  margin-right: 7px;
}

.A7o7yxxN2GA {
  margin-top: 20cm;
}

.jGT1nA3G3kB {
  margin-top: 7px;
}

.S2YwGuRhZUA {
  margin-top: calc(20%-1cm);
}

.KYb6GzpfOMN {
  margin-top: clamp(30px, 100px);
}

.YFwWuYkl2uZ {
  max-w: 3rem;
}

.UUMnD3OBU0Z {
  min-w: 3rem;
}

.yPaDZ3RUy7X {
  object-position: 50%, 50%;
}

.LOd8aC9CgRL {
  object-position: top, right;
}

.Qy2iPjbbY2C {
  object-position: var(--position);
}

.HPIl6dWvlUW {
  opacity: .5;
}

.tcgFOX4tFMQ {
  order: [4];
}

.OJSzXUO5seB {
  order: [var(--value) ];
}

.VQcYRdq90IK {
  outline-color: #000;
}

.VrP7GFHpNDR {
  outline-offset: 10px;
}

.Fk2io7StUpU {
  outline-width: 10px;
}

.uEfTc4auBoT {
  padding: 7px;
}

.LxARP8RsF4Z {
  padding-bottom: 7px;
}

.oB2v7BdXWHT {
  padding-left: 7px;
}

.q3jCpJ6PejG {
  padding-left: 7px;
  padding-right: 7px;
}

.v1cABxtLt9Y {
  padding-right: 7px;
}

.X75zOSZkzSZ {
  padding-top: 7px;
}

.hBhPIKbHksM {
  padding-top: clamp(30px, 100px);
}

.Lt6P9N8EoNL {
  right: 11px;
}

.VXMyuXsrgFM {
  right: var(--value);
}

.O4OAlWPk3sI {
  row-gap: 20px;
}

.PtBGSLy5plK {
  scroll-margin: 7px;
}

.ffevLzKK4YQ {
  scroll-margin-bottom: 7px;
}

.uLfGJAHrXxQ {
  scroll-margin-left: 7px;
}

.qwivtZOqpBT {
  scroll-margin-left: 7px;
  scroll-margin-right: 7px;
}

.KVBo1MkHdwW {
  scroll-margin-right: 7px;
}

.BpkRtDNS4oJ {
  scroll-margin-top: 7px;
}

.Todg323NUqG {
  scroll-margin-top: var(--scroll-margin);
}

.WvVkAkfMfLC {
  scroll-padding: 7px;
}

.yyaa1s9QWuX {
  scroll-padding-bottom: 7px;
}

.Gv6vt2keoCI {
  scroll-padding-left: 7px;
}

.QcNNEcHewWK {
  scroll-padding-left: 7px;
  scroll-padding-right: 7px;
}

.MUn5NW7e5dH {
  scroll-padding-right: 7px;
}

.oaPIjg9DAhO {
  scroll-padding-top: 7px;
}

.XZEcGH5sIaL {
  scroll-padding-top: var(--scroll-padding);
}

.lE7kdtQr8TQ {
  text-decoration: none;
}

.Cf0jKN3G1kN {
  text-decoration: color:var(--color);
}

.j9eFkypaygS {
  text-decoration: length:10px;
}

.q6XWtHjfPaC, .pApM1RqsChR, .lD0AtNEjZ4A {
  text-decoration: none;
}

.fRFuLktpwdH {
  text-indent: var(--indent);
}

.x4cKLcu9thU {
  text-underline-offset: 10px;
}

.rvBzrOWDydW {
  top: 11px;
}

.am7RZcvadmE {
  top: var(--value);
}

.XZCC0XsiMdM {
  transform-origin: 50px 50px;
}

.eFQuBzZkH6P {
  transition-delay: var(--delay);
}

.byQkkakfQxY {
  transition-duration: 2s;
}

.pYexcsuPnzR {
  transition-duration: var(--app-duration);
}

.m4RISmvdBmF {
  vertical-align: 10em;
}

.cZMqrxvwz3B {
  w: 0em;
}

.E7MekXl58vV {
  w: 3rem;
}

.gNzJSBZMKkH {
  will-change: var(--will-change);
}

.BQswf79mtiR {
  z-index: 123;
}

.ec3LCEBHd3K {
  z-index: var(--value);
}
