[data-tw-hEnSThBWp1W] {
}

[data-tw-I6v0yaMtaGB] {
  filter: 0px 1px 2px black;
}

[data-tw-KtBxb37SdGF] {
  filter: blur(15px);
}

[data-tw-McLuVxQ3DeZ] {
  filter: brightness(300%);
}

[data-tw-gYJkZJ6fpPG] {
  filter: contrast(2.4);
}

[data-tw-ullGHMFnnpQ] {
  filter: grayscale(.55);
}

[data-tw-qnKYbPVi2qN] {
  filter: hue-rotate(.8turn);
}

[data-tw-z92evK3d3lK] {
  filter: invert(.75);
}

[data-tw-Sv7wIUVEjCF] {
  filter: saturate(180%);
}

[data-tw-sajYRHgRQ5B] {
  filter: sepia(.2);
}

[data-tw-h7swFyCCQyC] {
  backdrop-filter: blur(11px);
}

[data-tw-c0HDa2kaNUQ] {
  backdrop-filter: brightness(1.23);
}

[data-tw-YLK8jOBbL7E] {
  backdrop-filter: contrast(.87);
}

[data-tw-QuwS8nCkiDA] {
  backdrop-filter: grayscale(.42);
}

[data-tw-jpdx3VrYotQ] {
  backdrop-filter: hue-rotate(89.9544deg);
}

[data-tw-mL1keryRI6C] {
  backdrop-filter: invert(.66);
}

[data-tw-HrvxPIQZL5K] {
  backdrop-filter: opacity(50%);
}

[data-tw-zuQS9UJgDxK] {
  backdrop-filter: saturate(144%);
}

[data-tw-NbXPh3Vn4VC] {
  backdrop-filter: sepia(.38);
}

[data-tw-tLp7Em5I4AM] {
  transform: rotate(1.5turn)rotate(131.78deg)rotate(23deg)rotate(401grad);
}

[data-tw-segKjfkLpqS] {
  transform: scale(.7);
}

[data-tw-k3QA2RW0CcY] {
  transform: scale(var(--value) );
}

[data-tw-ATakmUrzSGV] {
  transform: scaleX(.7);
}

[data-tw-ZcwgaMht20T] {
  transform: scaleX(var(--value) );
}

[data-tw-MrCSkg486DB] {
  transform: scaleY(.7);
}

[data-tw-qwYATg8t6aZ] {
  transform: scaleY(var(--value) );
}

[data-tw-UmJGzmF3EnI] {
  transform: skewX(3px);
}

[data-tw-oUnsItBRTkM] {
  transform: skewX(var(--value) );
}

[data-tw-JVcg8wLrtkX] {
  transform: skewY(3px);
}

[data-tw-kPOg3MQesMT] {
  transform: skewY(var(--value) );
}

[data-tw-O9Nc3n5HVxP] {
  transform: translateX(12%);
}

[data-tw-HzauCdwTO9A] {
  transform: translateX(var(--value) );
}

[data-tw-uZsGG48FZ5H] {
  transform: translateY(12%);
}

[data-tw-gqR8A7QBPAN] {
  transform: translateY(var(--value) );
}

[data-tw-MJLfxhZUh1W] {
  --tw-gradient-from: #da5b66;
  --tw-gradient-stops: var(--tw-gradient-from) , #da5b66, var(--tw-gradient-to, #da5b66);
  --tw-gradient-to: #da5b66;
}

[data-tw-gyXZClMsZZN] {
  --tw-ring-offset-width: 3;
  box-shadow: 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) , var(--tw-ring-shadow);
}

[data-tw-zoaEiRkh8OB] {
  accent-color: #bada55;
}

[data-tw-w7Bi88rI9KJ] {
  animation: pong 1s cubic-bezier(0, 0, .2, 1) infinite;
}

[data-tw-lYpuxvIJaxR] {
  animation: var(--value);
}

[data-tw-NlRWaubKRiU] {
  aspect-ratio: var(--aspect);
}

[data-tw-owxdY502adZ] {
  border-bottom-width: [20cm] px;
  border-top-width: 0;
}

[data-tw-DWFCZdd5cNF] {
  border-bottom-width: [calc(20%-1cm) ] px;
  border-top-width: 0;
}

[data-tw-gji2piafjWE] {
  border-left-width: 0;
  border-right-width: [20cm] px;
}

[data-tw-YDiFLByEXuE] {
  border-left-width: 0;
  border-right-width: [calc(20%-1cm) ] px;
}

[data-tw-Bl1wIU6LQAa] {
  border-radius: Unit(11, "px");
}

[data-tw-zoiG8azaj2X] {
  bottom: 11px;
}

[data-tw-r2WFEUMeFnT] {
  inset: 11px;
}

[data-tw-qkuGejBFnqG] {
  top: 11px;
  bottom: 11px;
}

[data-tw-oNLYmPkDpAT] {
  bottom: var(--value);
}

[data-tw-oYErbfRhTxB] {
  bottom: var(--value);
  left: var(--value);
  right: var(--value);
  top: var(--value);
}

[data-tw-jX8FAwGsJkQ] {
  bottom: var(--value);
  top: var(--value);
}

[data-tw-qs5s8khY3zW] {
  box-shadow: 0 1px 2px #000;
}

[data-tw-X0AInWrfMWR] {
  box-shadow: shadow:var(--value);
}

[data-tw-Acx4GquTO3V] {
  caret-color: #000;
}

[data-tw-gvnxcOcW6RS] {
  color: #000;
}

[data-tw-LCiay4DwhuM] {
  color: #7b7b7b;
}

[data-tw-iq1mbFICe8H] {
  column-gap: 20px;
}

[data-tw-oK7w3oYq3uN] {
  columns: var(--columns);
}

[data-tw-C3HEtVBWrFL] {
  content: ">";
}

[data-tw-sjCrvoEh3aH] {
  content: "hello";
}

[data-tw-I4daiKKI40L] {
  content: attr(content-before);
}

[data-tw-x9sNqBUCFBH] {
  cursor: pointer;
}

[data-tw-GdfoyZjmrSJ] {
  cursor: url(./path\20 to\20 hand.cur) 2 2, pointer;
}

[data-tw-kOE8wtMFF3Y] {
  cursor: url(hand.cur) 2 2, pointer;
}

[data-tw-f0ebKMPh9PG] {
  cursor: var(--value);
}

[data-tw-aHsX3t1fRWE] {
  fill: #da5b66;
}

[data-tw-WxLAYtWuYuG] {
  flex: var(--flex);
}

[data-tw-bkCPXw5mgcY] {
  flex-basis: var(--basis);
}

[data-tw-oSSkfLtRrkK] {
  flex-grow: [var(--grow) ];
}

[data-tw-xtlK5xg0V7A] {
  flex-shrink: var(--shrink);
}

[data-tw-waibkwWzKpA] {
  font-family: ;
}

[data-tw-F53bPd26DHQ] {
  gap: 20px;
}

[data-tw-Z971PRRKu8A] {
  grid-auto-columns: minmax(10px, auto);
}

[data-tw-Ee5MnfSbvBN] {
  grid-auto-rows: minmax(10px, auto);
}

[data-tw-WcuKiRNlkVI] {
  grid-column: 1 / -1;
}

[data-tw-yVskrHyGHOY] {
  grid-row: 1 / -1;
}

[data-tw-MmVXeVfzkKX] {
  grid-template-columns: 200px, repeat(auto-fill, minmax(15%, 100px) ) , 300px;
}

[data-tw-E5IPbIorUcY] {
  grid-template-rows: 200px, repeat(auto-fill, minmax(15%, 100px) ) , 300px;
}

[data-tw-IAshOCB6PNQ] {
  left: 11px;
}

[data-tw-MHKZ81dyCYG] {
  left: 11px;
  right: 11px;
}

[data-tw-LFl2IgleMaB] {
  left: var(--value);
}

[data-tw-esrNvA01sqA] {
  left: var(--value);
  right: var(--value);
}

[data-tw-tHiU8PCQ5kW] {
  letter-spacing: var(--tracking);
}

[data-tw-ACStRpNhQIO] {
  list-style-type: "👍";
}

[data-tw-DYjprXqEebV] {
  list-style-type: var(--value);
}

[data-tw-xe78KERchZK] {
  margin: 7px;
}

[data-tw-z5rtwSaMeSD] {
  margin-bottom: 7px;
}

[data-tw-lSjwXqLV4aO] {
  margin-left: 20cm;
}

[data-tw-QlWCkmBvy0R] {
  margin-left: 7px;
}

[data-tw-NhbfAavFpXH] {
  margin-left: 7px;
  margin-right: 7px;
}

[data-tw-bSjYMBB0JEZ] {
  margin-left: calc(20%-1cm);
}

[data-tw-vFtjJkQTqKM] {
  margin-right: 7px;
}

[data-tw-A7o7yxxN2GA] {
  margin-top: 20cm;
}

[data-tw-jGT1nA3G3kB] {
  margin-top: 7px;
}

[data-tw-S2YwGuRhZUA] {
  margin-top: calc(20%-1cm);
}

[data-tw-KYb6GzpfOMN] {
  margin-top: clamp(30px, 100px);
}

[data-tw-YFwWuYkl2uZ] {
  max-w: 3rem;
}

[data-tw-UUMnD3OBU0Z] {
  min-w: 3rem;
}

[data-tw-yPaDZ3RUy7X] {
  object-position: 50%, 50%;
}

[data-tw-LOd8aC9CgRL] {
  object-position: top, right;
}

[data-tw-Qy2iPjbbY2C] {
  object-position: var(--position);
}

[data-tw-HPIl6dWvlUW] {
  opacity: .5;
}

[data-tw-tcgFOX4tFMQ] {
  order: [4];
}

[data-tw-OJSzXUO5seB] {
  order: [var(--value) ];
}

[data-tw-VQcYRdq90IK] {
  outline-color: #000;
}

[data-tw-VrP7GFHpNDR] {
  outline-offset: 10px;
}

[data-tw-Fk2io7StUpU] {
  outline-width: 10px;
}

[data-tw-uEfTc4auBoT] {
  padding: 7px;
}

[data-tw-LxARP8RsF4Z] {
  padding-bottom: 7px;
}

[data-tw-oB2v7BdXWHT] {
  padding-left: 7px;
}

[data-tw-q3jCpJ6PejG] {
  padding-left: 7px;
  padding-right: 7px;
}

[data-tw-v1cABxtLt9Y] {
  padding-right: 7px;
}

[data-tw-X75zOSZkzSZ] {
  padding-top: 7px;
}

[data-tw-hBhPIKbHksM] {
  padding-top: clamp(30px, 100px);
}

[data-tw-Lt6P9N8EoNL] {
  right: 11px;
}

[data-tw-VXMyuXsrgFM] {
  right: var(--value);
}

[data-tw-O4OAlWPk3sI] {
  row-gap: 20px;
}

[data-tw-PtBGSLy5plK] {
  scroll-margin: 7px;
}

[data-tw-ffevLzKK4YQ] {
  scroll-margin-bottom: 7px;
}

[data-tw-uLfGJAHrXxQ] {
  scroll-margin-left: 7px;
}

[data-tw-qwivtZOqpBT] {
  scroll-margin-left: 7px;
  scroll-margin-right: 7px;
}

[data-tw-KVBo1MkHdwW] {
  scroll-margin-right: 7px;
}

[data-tw-BpkRtDNS4oJ] {
  scroll-margin-top: 7px;
}

[data-tw-Todg323NUqG] {
  scroll-margin-top: var(--scroll-margin);
}

[data-tw-WvVkAkfMfLC] {
  scroll-padding: 7px;
}

[data-tw-yyaa1s9QWuX] {
  scroll-padding-bottom: 7px;
}

[data-tw-Gv6vt2keoCI] {
  scroll-padding-left: 7px;
}

[data-tw-QcNNEcHewWK] {
  scroll-padding-left: 7px;
  scroll-padding-right: 7px;
}

[data-tw-MUn5NW7e5dH] {
  scroll-padding-right: 7px;
}

[data-tw-oaPIjg9DAhO] {
  scroll-padding-top: 7px;
}

[data-tw-XZEcGH5sIaL] {
  scroll-padding-top: var(--scroll-padding);
}

[data-tw-lE7kdtQr8TQ] {
  text-decoration: none;
}

[data-tw-Cf0jKN3G1kN] {
  text-decoration: color:var(--color);
}

[data-tw-j9eFkypaygS] {
  text-decoration: length:10px;
}

[data-tw-q6XWtHjfPaC] {
  text-decoration: none;
}

[data-tw-pApM1RqsChR] {
  text-decoration: none;
}

[data-tw-lD0AtNEjZ4A] {
  text-decoration: none;
}

[data-tw-fRFuLktpwdH] {
  text-indent: var(--indent);
}

[data-tw-x4cKLcu9thU] {
  text-underline-offset: 10px;
}

[data-tw-rvBzrOWDydW] {
  top: 11px;
}

[data-tw-am7RZcvadmE] {
  top: var(--value);
}

[data-tw-XZCC0XsiMdM] {
  transform-origin: 50px 50px;
}

[data-tw-eFQuBzZkH6P] {
  transition-delay: var(--delay);
}

[data-tw-byQkkakfQxY] {
  transition-duration: 2s;
}

[data-tw-pYexcsuPnzR] {
  transition-duration: var(--app-duration);
}

[data-tw-m4RISmvdBmF] {
  vertical-align: 10em;
}

[data-tw-cZMqrxvwz3B] {
  w: 0em;
}

[data-tw-E7MekXl58vV] {
  w: 3rem;
}

[data-tw-gNzJSBZMKkH] {
  will-change: var(--will-change);
}

[data-tw-BQswf79mtiR] {
  z-index: 123;
}

[data-tw-ec3LCEBHd3K] {
  z-index: var(--value);
}
