.u9WpklI6pLI {
  filter: 0px 1px 2px black;
}

.bA81j8gQrHa {
  filter: blur(15px);
}

.bQ2epsRkNBC {
  filter: brightness(300%);
}

.tSbAOdTrEZI {
  filter: contrast(2.4);
}

.tVk7DZspv9M {
  filter: grayscale(.55);
}

.w0ROErwN1tI {
  filter: hue-rotate(.8turn);
}

.mAkuevL9SFW {
  filter: invert(.75);
}

.xUivN0EaJ8Y {
  filter: saturate(180%);
}

.RfNFOLYLEvA {
  filter: sepia(.2);
}

.UAKc7COWrBa {
  backdrop-filter: blur(11px);
}

.JSe2fOGNHpH {
  backdrop-filter: brightness(1.23);
}

.uPkeXqLuu6T {
  backdrop-filter: contrast(.87);
}

.d3qK49ZZKDE {
  backdrop-filter: grayscale(.42);
}

.ei9CWB1l5wL {
  backdrop-filter: hue-rotate(89.9544deg);
}

.sIg2ROGyN8J {
  backdrop-filter: invert(.66);
}

.l3BhytipbNN {
  backdrop-filter: opacity(50%);
}

.UGCCX1YWLCO {
  backdrop-filter: saturate(144%);
}

.pmBKWvYOgUI {
  backdrop-filter: sepia(.38);
}

.utXqrMgpOjB {
  transform: rotate(1.5turn)rotate(131.78deg)rotate(23deg)rotate(401grad);
}

.LDnLqfObQIF {
  transform: scale(.7);
}

.tZZQzr7EJND {
  transform: scale(var(--value));
}

.P572FbSCPPS {
  transform: scaleX(.7);
}

.UxXapiyeTqD {
  transform: scaleX(var(--value));
}

.GYdbMv4ILfU {
  transform: scaleY(.7);
}

.MvPq70Di0VZ {
  transform: scaleY(var(--value));
}

.UzeHrWW4i0B {
  transform: skewX(3px);
}

.gx3Ym92TWaQ {
  transform: skewX(var(--value));
}

.c8WrRckV99B {
  transform: skewY(3px);
}

.pD8kNYkmg0T {
  transform: skewY(var(--value));
}

.BEq7pRvkb1K {
  transform: translateX(12%);
}

.SXjWLqbidUH {
  transform: translateX(var(--value));
}

.UWJ4fQkb4AO {
  transform: translateY(12%);
}

.oA18RTWjrOS {
  transform: translateY(var(--value));
}

.DxBNn3aOeZM {
  --tw-gradient-from: #da5b66;
  --tw-gradient-stops: var(--tw-gradient-from), #da5b66, var(--tw-gradient-to, #da5b66);
  --tw-gradient-to: #da5b66;
}

.UVOR8gmlnGG {
  --tw-ring-offset-width: 3;
  box-shadow: 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color), var(--tw-ring-shadow);
}

.cd6I0HijXvQ {
  accent-color: #bada55;
}

.LwwSkfkwCDA {
  animation: pong 1s cubic-bezier(0, 0, .2, 1) infinite;
}

.PTuXVbwcnmO {
  animation: var(--value);
}

.noxnrLfeDuL {
  aspect-ratio: var(--aspect);
}

.Pb31ypIo5TA {
  background-color: #00fc;
}

.aaq1JLembLY {
  background-color: #7b7b7b80;
}

.nBX9ZFj3KZC {
  background-color: #7bffff;
}

.xz5n7ZDIMNR {
  background-color: #ff00004d;
}

.Mi5B8mQJ4FA {
  border-bottom-width: [20cm] px;
  border-top-width: 0;
}

.pMtYjsDGCPO {
  border-bottom-width: [calc(20%-1cm) ] px;
  border-top-width: 0;
}

.Vjymd4LLywM {
  border-color: red;
}

.rVvcWAi6rtH {
  border-left-width: 0;
  border-right-width: [20cm] px;
}

.d55JFBXeAnS {
  border-left-width: 0;
  border-right-width: [calc(20%-1cm) ] px;
}

.MZRXXgXcCcH {
  border-radius: Unit(11, "px");
}

.qzCgKZuilcF {
  bottom: 11px;
}

.urKzzyVeHPV {
  inset: 11px;
}

.m4QQlzWHXOL {
  top: 11px;
  bottom: 11px;
}

.fuWfpAaaz5I {
  bottom: var(--value);
}

.qMrhFXpI7eG {
  bottom: var(--value);
  left: var(--value);
  right: var(--value);
  top: var(--value);
}

.uzpQgyhJDWR {
  bottom: var(--value);
  top: var(--value);
}

.xOdxwlnje3M {
  box-shadow: 0 1px 2px #000;
}

.ldVMM1dBThE {
  box-shadow: shadow:var(--value);
}

.zKQtpnrf2CY {
  caret-color: #000;
}

.W2xKxEfCY0W {
  color: #000;
}

.jGggGZDArsW {
  color: #7b7b7b;
}

.qQ1bm1djZbC {
  column-gap: 20px;
}

.aXTjB0jyjNT {
  columns: var(--columns);
}

.Xox8NeAOcoY {
  content: ">";
}

.S6sv9TOI8fD {
  content: "hello";
}

.JGey5IcdRfO {
  content: attr(content-before);
}

.caHE9JzTKoU {
  cursor: pointer;
}

.D2JwYNrW60A {
  cursor: url("./path to hand.cur") 2 2, pointer;
}

.PCgPiHCvyvJ {
  cursor: url("hand.cur") 2 2, pointer;
}

.dZM7pzAY8KC {
  cursor: var(--value);
}

.xIxATMnoUoL {
  fill: #da5b66;
}

.fqLD3m9noDZ {
  flex: var(--flex);
}

.eNUX698D9kN {
  flex-basis: var(--basis);
}

.eDPEUNAIOyN {
  flex-grow: [var(--grow) ];
}

.cgBoKeZgMTW {
  flex-shrink: var(--shrink);
}

.F3fRpXh9CjH {
  font-family: ;
}

.uPOCmMgjeKH {
  gap: 20px;
}

.CTmp6smGG3Y {
  grid-auto-columns: minmax(10px, auto);
}

.kKFDDYwgUAJ {
  grid-auto-rows: minmax(10px, auto);
}

.fgikR5tmO6Z {
  grid-column: 1 / -1;
}

.phapqWoE5nP {
  grid-row: 1 / -1;
}

.TiM78ZmkCuY {
  grid-template-columns: 200px, repeat(auto-fill, minmax(15%, 100px) ), 300px;
}

.QZfTUEWqboD {
  grid-template-rows: 200px, repeat(auto-fill, minmax(15%, 100px) ), 300px;
}

.qg2I13unFsC {
  left: 11px;
}

.IdPHrV65nrT {
  left: 11px;
  right: 11px;
}

.fOitJ6SYQcC {
  left: var(--value);
}

.E1dDWzDaXPQ {
  left: var(--value);
  right: var(--value);
}

.Q8l9AX7qoPV {
  letter-spacing: var(--tracking);
}

.sunWejTyckI {
  list-style-type: "👍";
}

.Qb17cDYECuD {
  list-style-type: var(--value);
}

.co07u7O7HyP {
  margin: 7px;
}

.d9szKCwt7YI {
  margin-bottom: 7px;
}

.s0hW8VIe8uY {
  margin-left: 20cm;
}

.fRUrmrt2jnA {
  margin-left: 7px;
}

.QZ3iQuuLWtX {
  margin-left: 7px;
  margin-right: 7px;
}

.jcjRX09HckM {
  margin-left: calc(20%-1cm);
}

.SZF7RMbl99V {
  margin-right: 7px;
}

.w4plATDoVON {
  margin-top: 20cm;
}

.LUkABFhbxfP {
  margin-top: 7px;
}

.T066vdt79Ca {
  margin-top: calc(20%-1cm);
}

.KOjmq8wsCYO {
  margin-top: clamp(30px, 100px);
}

.I0oNBgPeEnJ {
  max-w: 3rem;
}

.wmejqmxPV4A {
  min-w: 3rem;
}

.QzI4eoI6IUH {
  object-position: 50%, 50%;
}

.AqRfLkj7K4R {
  object-position: top, right;
}

.Fo71QIpptyX {
  object-position: var(--position);
}

.LNZktaNLKLZ {
  opacity: .5;
}

.WcwwV3B3Q1X {
  order: [4];
}

.qcUEAwl1DUU {
  order: [var(--value) ];
}

.PJE0PpMYBsI {
  outline-color: #000;
}

.UVB2juXbr4D {
  outline-offset: 10px;
}

.DFAYS9kvNcN {
  outline-width: 10px;
}

.I6ynRlAYHTN {
  padding: 7px;
}

.BaUibxwb4NH {
  padding-bottom: 7px;
}

.QkYAJxzFDBQ {
  padding-left: 7px;
}

.DMwPmXSF5iV {
  padding-left: 7px;
  padding-right: 7px;
}

.eMC3U6kBWMR {
  padding-right: 7px;
}

.xu84J8NVNAH {
  padding-top: 7px;
}

.vlbKnV51iFM {
  padding-top: clamp(30px, 100px);
}

.nH8Y4JJ06ML {
  right: 11px;
}

.Pvgb7XbmdMA {
  right: var(--value);
}

.ZYhGZ70u2JT {
  row-gap: 20px;
}

.Y6R8GSoP47M {
  scroll-margin: 7px;
}

.OclSWa1fuXX {
  scroll-margin-bottom: 7px;
}

.Uwde28gs2qS {
  scroll-margin-left: 7px;
}

.l4VRweNxr2C {
  scroll-margin-left: 7px;
  scroll-margin-right: 7px;
}

.nd4uzA9W8yN {
  scroll-margin-right: 7px;
}

.zFuV3QCQZSR {
  scroll-margin-top: 7px;
}

.LUrhSK5c2BG {
  scroll-margin-top: var(--scroll-margin);
}

.J7sS5IwtfLU {
  scroll-padding: 7px;
}

.f0wDnIAUqRI {
  scroll-padding-bottom: 7px;
}

.rDmWWwngmYP {
  scroll-padding-left: 7px;
}

.Wx1zmbfIDmL {
  scroll-padding-left: 7px;
  scroll-padding-right: 7px;
}

.iqWlLIipoMI {
  scroll-padding-right: 7px;
}

.jhRS0gBwKwQ {
  scroll-padding-top: 7px;
}

.rr1kRgRBfJU {
  scroll-padding-top: var(--scroll-padding);
}

.xx702Fb4PnS {
  text-decoration: none;
}

.p4s27hdon6W {
  text-decoration: color:var(--color);
}

.JwCnBbT0qTE {
  text-decoration: length:10px;
}

.cwZXpqX5C5K, .BLcyIZFDtCK, .CbJ0k0gyQMJ {
  text-decoration: none;
}

.yTlbJjM4nzW {
  text-indent: var(--indent);
}

.xukeJjGoMHF {
  text-underline-offset: 10px;
}

.M06udmdolZP {
  top: 11px;
}

.cH0J9Eja2QU {
  top: var(--value);
}

.tSuV6kFyi0J {
  transform-origin: 50px 50px;
}

.nd9aZZQpjVP {
  transition-delay: var(--delay);
}

.dOKGqHqH91R {
  transition-duration: 2s;
}

.rDq6KYag6Ea {
  transition-duration: var(--app-duration);
}

.zVzC3TfGLiO {
  vertical-align: 10em;
}

.hWx0vMLp8sE {
  w: 0em;
}

.neiNS8ukb1A {
  w: 3rem;
}

.A5hm22qAZZZ {
  will-change: var(--will-change);
}

.iseKEnz7gFP {
  z-index: 123;
}

.AZl7Y0mdkrS {
  z-index: var(--value);
}
