[data-tw="u9WpklI6pLI"] {
  filter: 0px 1px 2px black;
}

[data-tw="bA81j8gQrHa"] {
  filter: blur(15px);
}

[data-tw="bQ2epsRkNBC"] {
  filter: brightness(300%);
}

[data-tw="tSbAOdTrEZI"] {
  filter: contrast(2.4);
}

[data-tw="tVk7DZspv9M"] {
  filter: grayscale(.55);
}

[data-tw="w0ROErwN1tI"] {
  filter: hue-rotate(.8turn);
}

[data-tw="mAkuevL9SFW"] {
  filter: invert(.75);
}

[data-tw="xUivN0EaJ8Y"] {
  filter: saturate(180%);
}

[data-tw="RfNFOLYLEvA"] {
  filter: sepia(.2);
}

[data-tw="UAKc7COWrBa"] {
  backdrop-filter: blur(11px);
}

[data-tw="JSe2fOGNHpH"] {
  backdrop-filter: brightness(1.23);
}

[data-tw="uPkeXqLuu6T"] {
  backdrop-filter: contrast(.87);
}

[data-tw="d3qK49ZZKDE"] {
  backdrop-filter: grayscale(.42);
}

[data-tw="ei9CWB1l5wL"] {
  backdrop-filter: hue-rotate(89.9544deg);
}

[data-tw="sIg2ROGyN8J"] {
  backdrop-filter: invert(.66);
}

[data-tw="l3BhytipbNN"] {
  backdrop-filter: opacity(50%);
}

[data-tw="UGCCX1YWLCO"] {
  backdrop-filter: saturate(144%);
}

[data-tw="pmBKWvYOgUI"] {
  backdrop-filter: sepia(.38);
}

[data-tw="utXqrMgpOjB"] {
  transform: rotate(1.5turn)rotate(131.78deg)rotate(23deg)rotate(401grad);
}

[data-tw="LDnLqfObQIF"] {
  transform: scale(.7);
}

[data-tw="tZZQzr7EJND"] {
  transform: scale(var(--value));
}

[data-tw="P572FbSCPPS"] {
  transform: scaleX(.7);
}

[data-tw="UxXapiyeTqD"] {
  transform: scaleX(var(--value));
}

[data-tw="GYdbMv4ILfU"] {
  transform: scaleY(.7);
}

[data-tw="MvPq70Di0VZ"] {
  transform: scaleY(var(--value));
}

[data-tw="UzeHrWW4i0B"] {
  transform: skewX(3px);
}

[data-tw="gx3Ym92TWaQ"] {
  transform: skewX(var(--value));
}

[data-tw="c8WrRckV99B"] {
  transform: skewY(3px);
}

[data-tw="pD8kNYkmg0T"] {
  transform: skewY(var(--value));
}

[data-tw="BEq7pRvkb1K"] {
  transform: translateX(12%);
}

[data-tw="SXjWLqbidUH"] {
  transform: translateX(var(--value));
}

[data-tw="UWJ4fQkb4AO"] {
  transform: translateY(12%);
}

[data-tw="oA18RTWjrOS"] {
  transform: translateY(var(--value));
}

[data-tw="DxBNn3aOeZM"] {
  --tw-gradient-from: #da5b66;
  --tw-gradient-stops: var(--tw-gradient-from), #da5b66, var(--tw-gradient-to, #da5b66);
  --tw-gradient-to: #da5b66;
}

[data-tw="UVOR8gmlnGG"] {
  --tw-ring-offset-width: 3;
  box-shadow: 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color), var(--tw-ring-shadow);
}

[data-tw="cd6I0HijXvQ"] {
  accent-color: #bada55;
}

[data-tw="LwwSkfkwCDA"] {
  animation: 1s cubic-bezier(0, 0, .2, 1) infinite pong;
}

[data-tw="PTuXVbwcnmO"] {
  animation: var(--value);
}

[data-tw="noxnrLfeDuL"] {
  aspect-ratio: var(--aspect);
}

[data-tw="Pb31ypIo5TA"] {
  background-color: #00fc;
}

[data-tw="aaq1JLembLY"] {
  background-color: #7b7b7b80;
}

[data-tw="nBX9ZFj3KZC"] {
  background-color: #7bffff;
}

[data-tw="xz5n7ZDIMNR"] {
  background-color: #ff00004d;
}

[data-tw="Mi5B8mQJ4FA"] {
  border-bottom-width: [20cm] px;
  border-top-width: 0;
}

[data-tw="pMtYjsDGCPO"] {
  border-bottom-width: [calc(20%-1cm) ] px;
  border-top-width: 0;
}

[data-tw="Vjymd4LLywM"] {
  border-color: red;
}

[data-tw="rVvcWAi6rtH"] {
  border-left-width: 0;
  border-right-width: [20cm] px;
}

[data-tw="d55JFBXeAnS"] {
  border-left-width: 0;
  border-right-width: [calc(20%-1cm) ] px;
}

[data-tw="MZRXXgXcCcH"] {
  border-radius: Unit(11, "px");
}

[data-tw="qzCgKZuilcF"] {
  bottom: 11px;
}

[data-tw="urKzzyVeHPV"] {
  inset: 11px;
}

[data-tw="m4QQlzWHXOL"] {
  top: 11px;
  bottom: 11px;
}

[data-tw="fuWfpAaaz5I"] {
  bottom: var(--value);
}

[data-tw="qMrhFXpI7eG"] {
  bottom: var(--value);
  left: var(--value);
  right: var(--value);
  top: var(--value);
}

[data-tw="uzpQgyhJDWR"] {
  bottom: var(--value);
  top: var(--value);
}

[data-tw="xOdxwlnje3M"] {
  box-shadow: 0 1px 2px #000;
}

[data-tw="ldVMM1dBThE"] {
  box-shadow: shadow:var(--value);
}

[data-tw="zKQtpnrf2CY"] {
  caret-color: #000;
}

[data-tw="W2xKxEfCY0W"] {
  color: #000;
}

[data-tw="jGggGZDArsW"] {
  color: #7b7b7b;
}

[data-tw="qQ1bm1djZbC"] {
  column-gap: 20px;
}

[data-tw="aXTjB0jyjNT"] {
  columns: var(--columns);
}

[data-tw="Xox8NeAOcoY"] {
  content: ">";
}

[data-tw="S6sv9TOI8fD"] {
  content: "hello";
}

[data-tw="JGey5IcdRfO"] {
  content: attr(content-before);
}

[data-tw="caHE9JzTKoU"] {
  cursor: pointer;
}

[data-tw="D2JwYNrW60A"] {
  cursor: url("./path to hand.cur") 2 2, pointer;
}

[data-tw="PCgPiHCvyvJ"] {
  cursor: url("hand.cur") 2 2, pointer;
}

[data-tw="dZM7pzAY8KC"] {
  cursor: var(--value);
}

[data-tw="xIxATMnoUoL"] {
  fill: #da5b66;
}

[data-tw="fqLD3m9noDZ"] {
  flex: var(--flex);
}

[data-tw="eNUX698D9kN"] {
  flex-basis: var(--basis);
}

[data-tw="eDPEUNAIOyN"] {
  flex-grow: [var(--grow) ];
}

[data-tw="cgBoKeZgMTW"] {
  flex-shrink: var(--shrink);
}

[data-tw="F3fRpXh9CjH"] {
  font-family: ;
}

[data-tw="uPOCmMgjeKH"] {
  gap: 20px;
}

[data-tw="CTmp6smGG3Y"] {
  grid-auto-columns: minmax(10px, auto);
}

[data-tw="kKFDDYwgUAJ"] {
  grid-auto-rows: minmax(10px, auto);
}

[data-tw="fgikR5tmO6Z"] {
  grid-column: 1 / -1;
}

[data-tw="phapqWoE5nP"] {
  grid-row: 1 / -1;
}

[data-tw="TiM78ZmkCuY"] {
  grid-template-columns: 200px, repeat(auto-fill, minmax(15%, 100px)), 300px;
}

[data-tw="QZfTUEWqboD"] {
  grid-template-rows: 200px, repeat(auto-fill, minmax(15%, 100px)), 300px;
}

[data-tw="qg2I13unFsC"] {
  left: 11px;
}

[data-tw="IdPHrV65nrT"] {
  left: 11px;
  right: 11px;
}

[data-tw="fOitJ6SYQcC"] {
  left: var(--value);
}

[data-tw="E1dDWzDaXPQ"] {
  left: var(--value);
  right: var(--value);
}

[data-tw="Q8l9AX7qoPV"] {
  letter-spacing: var(--tracking);
}

[data-tw="sunWejTyckI"] {
  list-style-type: "👍";
}

[data-tw="Qb17cDYECuD"] {
  list-style-type: var(--value);
}

[data-tw="co07u7O7HyP"] {
  margin: 7px;
}

[data-tw="d9szKCwt7YI"] {
  margin-bottom: 7px;
}

[data-tw="s0hW8VIe8uY"] {
  margin-left: 20cm;
}

[data-tw="fRUrmrt2jnA"] {
  margin-left: 7px;
}

[data-tw="QZ3iQuuLWtX"] {
  margin-left: 7px;
  margin-right: 7px;
}

[data-tw="jcjRX09HckM"] {
  margin-left: calc(20%-1cm);
}

[data-tw="SZF7RMbl99V"] {
  margin-right: 7px;
}

[data-tw="zMEV82uM0ZO"] {
  margin-top: 7px;
  margin-right: 7px;
}

[data-tw="w4plATDoVON"] {
  margin-top: 20cm;
}

[data-tw="LUkABFhbxfP"] {
  margin-top: 7px;
}

[data-tw="T066vdt79Ca"] {
  margin-top: calc(20%-1cm);
}

[data-tw="KOjmq8wsCYO"] {
  margin-top: clamp(30px, 100px);
}

[data-tw="I0oNBgPeEnJ"] {
  max-w: 3rem;
}

[data-tw="wmejqmxPV4A"] {
  min-w: 3rem;
}

[data-tw="QzI4eoI6IUH"] {
  object-position: 50%, 50%;
}

[data-tw="AqRfLkj7K4R"] {
  object-position: top, right;
}

[data-tw="Fo71QIpptyX"] {
  object-position: var(--position);
}

[data-tw="LNZktaNLKLZ"] {
  opacity: .5;
}

[data-tw="WcwwV3B3Q1X"] {
  order: [4];
}

[data-tw="qcUEAwl1DUU"] {
  order: [var(--value) ];
}

[data-tw="PJE0PpMYBsI"] {
  outline-color: #000;
}

[data-tw="UVB2juXbr4D"] {
  outline-offset: 10px;
}

[data-tw="DFAYS9kvNcN"] {
  outline-width: 10px;
}

[data-tw="I6ynRlAYHTN"] {
  padding: 7px;
}

[data-tw="BaUibxwb4NH"] {
  padding-bottom: 7px;
}

[data-tw="QkYAJxzFDBQ"] {
  padding-left: 7px;
}

[data-tw="DMwPmXSF5iV"] {
  padding-left: 7px;
  padding-right: 7px;
}

[data-tw="eMC3U6kBWMR"] {
  padding-right: 7px;
}

[data-tw="xu84J8NVNAH"] {
  padding-top: 7px;
}

[data-tw="vlbKnV51iFM"] {
  padding-top: clamp(30px, 100px);
}

[data-tw="nH8Y4JJ06ML"] {
  right: 11px;
}

[data-tw="Pvgb7XbmdMA"] {
  right: var(--value);
}

[data-tw="ZYhGZ70u2JT"] {
  row-gap: 20px;
}

[data-tw="Y6R8GSoP47M"] {
  scroll-margin: 7px;
}

[data-tw="OclSWa1fuXX"] {
  scroll-margin-bottom: 7px;
}

[data-tw="Uwde28gs2qS"] {
  scroll-margin-left: 7px;
}

[data-tw="l4VRweNxr2C"] {
  scroll-margin-left: 7px;
  scroll-margin-right: 7px;
}

[data-tw="nd4uzA9W8yN"] {
  scroll-margin-right: 7px;
}

[data-tw="zFuV3QCQZSR"] {
  scroll-margin-top: 7px;
}

[data-tw="LUrhSK5c2BG"] {
  scroll-margin-top: var(--scroll-margin);
}

[data-tw="J7sS5IwtfLU"] {
  scroll-padding: 7px;
}

[data-tw="f0wDnIAUqRI"] {
  scroll-padding-bottom: 7px;
}

[data-tw="rDmWWwngmYP"] {
  scroll-padding-left: 7px;
}

[data-tw="Wx1zmbfIDmL"] {
  scroll-padding-left: 7px;
  scroll-padding-right: 7px;
}

[data-tw="iqWlLIipoMI"] {
  scroll-padding-right: 7px;
}

[data-tw="jhRS0gBwKwQ"] {
  scroll-padding-top: 7px;
}

[data-tw="rr1kRgRBfJU"] {
  scroll-padding-top: var(--scroll-padding);
}

[data-tw="xx702Fb4PnS"] {
  text-decoration: none;
}

[data-tw="p4s27hdon6W"] {
  text-decoration: color:var(--color);
}

[data-tw="JwCnBbT0qTE"] {
  text-decoration: length:10px;
}

[data-tw="cwZXpqX5C5K"], [data-tw="BLcyIZFDtCK"], [data-tw="CbJ0k0gyQMJ"] {
  text-decoration: none;
}

[data-tw="yTlbJjM4nzW"] {
  text-indent: var(--indent);
}

[data-tw="xukeJjGoMHF"] {
  text-underline-offset: 10px;
}

[data-tw="M06udmdolZP"] {
  top: 11px;
}

[data-tw="cH0J9Eja2QU"] {
  top: var(--value);
}

[data-tw="tSuV6kFyi0J"] {
  transform-origin: 50px 50px;
}

[data-tw="nd9aZZQpjVP"] {
  transition-delay: var(--delay);
}

[data-tw="dOKGqHqH91R"] {
  transition-duration: 2s;
}

[data-tw="rDq6KYag6Ea"] {
  transition-duration: var(--app-duration);
}

[data-tw="zVzC3TfGLiO"] {
  vertical-align: 10em;
}

[data-tw="hWx0vMLp8sE"] {
  w: 0em;
}

[data-tw="neiNS8ukb1A"] {
  w: 3rem;
}

[data-tw="A5hm22qAZZZ"] {
  will-change: var(--will-change);
}

[data-tw="iseKEnz7gFP"] {
  z-index: 123;
}

[data-tw="AZl7Y0mdkrS"] {
  z-index: var(--value);
}
