[data-tw-rzCLFbkQBHY] {
  backdrop-filter: blur(8px) brightness() contrast() grayscale() hue-rotate(180deg) invert() opacity(50%) saturate() sepia();
}

[data-tw-rCDQ3vFyi6M] {
  opacity: .5;
  filter: blur(8px) brightness() contrast() grayscale() hue-rotate(180deg) invert() saturate() sepia();
}
