.qTiGbVUf15R {
  backdrop-filter: blur(8px) brightness() contrast() grayscale() hue-rotate(180deg) invert() opacity(50%) saturate() sepia();
}

.L07Ew3O1amR {
  opacity: .5;
  filter: blur(8px) brightness() contrast() grayscale() hue-rotate(180deg) invert() saturate() sepia();
}
