.backdrop-blur-8 {
  backdrop-filter: blur(8px);
}

.backdrop-brightness-100 {
  backdrop-filter: brightness();
}

.backdrop-contrast-100 {
  backdrop-filter: contrast();
}

.backdrop-grayscale-100 {
  backdrop-filter: grayscale();
}

.backdrop-hue-rotate-180 {
  backdrop-filter: hue-rotate(180deg);
}

.backdrop-invert-100 {
  backdrop-filter: invert();
}

.backdrop-opacity-50 {
  backdrop-filter: opacity(50%);
}

.backdrop-saturate-100 {
  backdrop-filter: saturate();
}

.backdrop-sepia-100 {
  backdrop-filter: sepia();
}

.blur-8 {
  filter: blur(8px);
}

.brightness-100 {
  filter: brightness();
}

.contrast-100 {
  filter: contrast();
}

.grayscale-100 {
  filter: grayscale();
}

.hue-rotate-180 {
  filter: hue-rotate(180deg);
}

.invert-100 {
  filter: invert();
}

.opacity-50 {
  opacity: .5;
}

.saturate-100 {
  filter: saturate();
}

.sepia-100 {
  filter: sepia();
}
