.Kt9rZG8XmlV {
  backdrop-filter: blur(8px) brightness() contrast() grayscale() hue-rotate(180deg) invert() opacity(50%) saturate() sepia();
}

.WJW29DNBGQT {
  opacity: .5;
  filter: blur(8px) brightness() contrast() grayscale() hue-rotate(180deg) invert() saturate() sepia();
}
