.decoration-0 {
  text-decoration-thickness: 0;
}

.decoration-1 {
  text-decoration-thickness: 1px;
}

.decoration-\[\#FFFFFFFF\] {
  text-decoration-color: #fff;
}

.decoration-\[\#FFFFFF\] {
  text-decoration: none;
}

.decoration-\[overline_red\] {
  text-decoration: overline red;
}

.decoration-auto {
  text-decoration-thickness: auto;
}

.decoration-black-0, .decoration-current-0 {
  text-decoration-color: currentColor;
}

.decoration-dashed {
  text-decoration-style: dashed;
}

.decoration-dotted {
  text-decoration-style: dotted;
}

.decoration-double {
  text-decoration-style: double;
}

.decoration-from-font {
  text-decoration-thickness: from-font;
}

.decoration-inherit-0 {
  text-decoration-color: currentColor;
}

.decoration-line-\[overline_underline_line-through\] {
  text-decoration-line: underline overline line-through;
}

.decoration-line-\[unset\], .decoration-line-unset {
  text-decoration-line: unset;
}

.decoration-red-0 {
  text-decoration-color: currentColor;
}

.decoration-slate-100 {
  text-decoration-color: #f1f5f9;
}

.decoration-slate-50 {
  text-decoration-color: #f8fafc;
}

.decoration-solid {
  text-decoration-style: solid;
}

.decoration-style-\[unset\], .decoration-style-unset {
  text-decoration-style: unset;
}

.decoration-thick-\[unset\], .decoration-thick-unset {
  text-decoration-thickness: unset;
}

.decoration-transparent-0 {
  text-decoration-color: currentColor;
}

.decoration-unset {
  text-decoration-color: unset;
}

.decoration-wavy {
  text-decoration-style: wavy;
}

.decoration-white-0 {
  text-decoration-color: currentColor;
}

.line-through {
  text-decoration-line: line-through;
}

.list-\[\'-\'\] {
  list-style-type: "-";
}

.list-\[\@custom-counter-style\] {
  list-style-type: @custom-counter-style;
}

.list-\[unset\] {
  list-style-type: unset;
}

.list-decimal {
  list-style-type: decimal;
}

.list-disc {
  list-style-type: disc;
}

.list-inside {
  list-style-position: inside;
}

.list-none {
  list-style-type: none;
}

.list-outside {
  list-style-position: outside;
}

.list-position-\[unset\], .list-position-unset {
  list-style-position: unset;
}

.list-trad-chinese-informal {
  list-style-type: trad-chinese-informal;
}

.list-unset {
  list-style-type: unset;
}

.no-underline {
  text-decoration-line: none;
}

.overline {
  text-decoration-line: overline;
}

.tracking-\[0\.5em\] {
  letter-spacing: .5em;
}

.tracking-normal {
  letter-spacing: normal;
}

.tracking-not-found {
  letter-spacing: 0;
}

.tracking-tight {
  letter-spacing: -.025em;
}

.tracking-tighter {
  letter-spacing: -.05em;
}

.tracking-tightest {
  letter-spacing: -.75em;
}

.tracking-unset {
  letter-spacing: unset;
}

.tracking-wide {
  letter-spacing: .025em;
}

.tracking-wider {
  letter-spacing: .05em;
}

.tracking-widest {
  letter-spacing: .1em;
}

.underline {
  text-decoration-line: underline;
}
