.list-\[\'-\'\] {
  list-style-type: "-";
}

.list-\[\@custom-counter-style\] {
  list-style-type: @custom-counter-style;
}

.list-\[unset\] {
  list-style-type: unset;
}

.list-decimal {
  list-style-type: decimal;
}

.list-disc {
  list-style-type: disc;
}

.list-inside {
  list-style-position: inside;
}

.list-none {
  list-style-type: none;
}

.list-outside {
  list-style-position: outside;
}

.list-position-\[unset\], .list-position-unset {
  list-style-position: unset;
}

.list-trad-chinese-informal {
  list-style-type: trad-chinese-informal;
}

.list-unset {
  list-style-type: unset;
}

.tracking-\[0\.5em\] {
  letter-spacing: .5em;
}

.tracking-normal {
  letter-spacing: normal;
}

.tracking-not-found {
  letter-spacing: 0;
}

.tracking-tight {
  letter-spacing: -.025em;
}

.tracking-tighter {
  letter-spacing: -.05em;
}

.tracking-tightest {
  letter-spacing: -.75em;
}

.tracking-unset {
  letter-spacing: unset;
}

.tracking-wide {
  letter-spacing: .025em;
}

.tracking-wider {
  letter-spacing: .05em;
}

.tracking-widest {
  letter-spacing: .1em;
}
